{% extends "general/base.jade" %}
{% load forum_utilities %}

{% block content %}
.row
  .col-sm-2
    img.profile-page-avatar#profile-avatar(src="https://dl.dropboxusercontent.com/u/9060700/commisions/Ambrosia%20Emotes/Calm.png", width="100px", height="100px")
  .col-sm-10
    #profile-page-header
      span#profile-name {{member_profile.display_name}}
.row 
  .col-xs-12
    hr
.row
  .col-sm-2
    ul.nav.nav-pills.nav-stacked(role="tablist")
      li.active(role="presentation")
        a(href="/member/{{member_profile.user_id}}/") About Me
      if member_profile.show_roleplay_tab
        li(role="presentation")
          a(href="/member/statistics/{{member_profile.user_id}}/") Roleplay
      li(role="presentation")
        a(href="/member/statistics/{{member_profile.user_id}}/") Statistics
      if member_profile.user_id == user_profile.user_id
        li(role="presentation")
          a(href="/member/signatures/{{member_profile.user_id}}/") Signatures
        li(role="presentation")
          a(href="/member/settings/{{member_profile.user_id}}/") Settings
  div(class="visible-xs-block")
    hr
  .col-xs-10
    {% block profile_content %}
    if member_profile.user_id == user_profile.user_id
      span 
        a.btn.btn-default.btn-xs.float-right#edit-profile(style="") Edit
    .user-profile-about-me {{member_profile.about|clean_html|safe}}
    {% endblock %}
{% endblock %}