{% extends "base.jade" %}

{% block theme %}
{% assets filters="cssmin", output="generated/woe-core.css",
"assets/bootstrap.css", "assets/quill2/quill.snow.css",
"assets/dropzone/dropzone.css", "assets/bootstrap-datepicker/bootstrap-datepicker.css",
"assets/select2/select2.css", "assets/select2/select2-bootstrap.css",
"assets/datatables/dataTables.bootstrap.css", "assets/datatables/dataTables.responsive.css",
"local/default.css" %}
link(href='{{ASSET_URL}}', rel='stylesheet')
{% endassets %}
{% endblock %}

{% block header %}
style
  | .site-background { display: none !important; }
  | body { background: none; }
  | .hide-inline { display: none; }
  | .media.post { padding: 5px; }
  | .list-group-item { border: none !important; background: none !important; }
{% endblock %}

{% block content %}
.row
  .col-sm-12
    ul.list-group.category
      li.list-group-item
        p Enter your email address to continue.
        form(action="/forgot-password/inline", method="post")
          {{ form_errors(form) }}
          .form-group
            {{ form.email_address.label }}
            {{ form.email_address(class="form-control") }}
          {{ form.redirect_to(class="form-control") }}
          button(type="submit").btn.btn-default Submit
{% endblock %}

{% block footer %}
{% endblock %}