{% extends "base.jade" %}

{% block content %}
.row
  .col-lg-6.col-md-6.col-sm-8
    ul.list-group
      li.list-group-item.section-header Forgot Your Password?
      li.list-group-item
        p Don't worry {{profile.display_name}}, a password reset link is on the way via email.
        p If you dont receive it within the next ten minutes, please check your spam mail. Failing all else, email us at {{get_site_config("core.site-email")}}.
{% endblock %}
