{% extends "base.jade" %}

{% block theme %}
{% assets filters="cssmin", output="generated/woe-core.css",
"assets/bootstrap.css", "assets/quill2/quill.snow.css",
"assets/dropzone/dropzone.css", "assets/bootstrap-datepicker/bootstrap-datepicker.css",
"assets/select2/select2.css", "assets/select2/select2-bootstrap.css",
"assets/datatables/dataTables.bootstrap.css", "assets/datatables/dataTables.responsive.css",
"local/default.css" %}
link(href='{{ASSET_URL}}', rel='stylesheet')
{% endassets %}
{% endblock %}

{% block header %}
style
  | .site-background { display: none !important; }
  | body { background: none; }
  | .hide-inline { display: none; }
  | .media.post { padding: 5px; }
  | .list-group-item { border: none !important; background: none !important; }
{% endblock %}

{% block content %}
.row
  .col-sm-12
    ul.list-group
      li.list-group-item
        p Don't worry {{profile.display_name}}, a password reset link is on the way via email.
        p If you dont receive it within the next ten minutes, please check your spam mail.
        p 
          a(href="{{next}}") Click here to return
{% assets filters="rjsmin", output="generated/iframe-events.js",
"local/js/iframe-events.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}
{% endblock %}

{% block footer %}
{% endblock %}