{% extends "base.jade" %}

{% block content %}
.row
  .col-lg-12
    ul.list-group
      li.list-group-item.section-header One of Us, One of Us, One of Us!
      li.list-group-item
        center
          h2 Join Us!
          br
        form(action="/register", method="post", id="join-now")
          {{ form_errors(form) }}
          .form-group
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
          .form-group
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
          .form-group
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class="form-control") }}
          .form-group
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
          .form-group
            {{ form.question.label }}
            {{ form.question(class="form-control") }}
          .form-group
            label
              {{ form.over_thirteen() }} Are you at or over the age of 13?
          .form-group
            p Joining this site means that you have read and agree with our <a href="/rules" target="_blank">rules and terms</a> and understand our <a href="/privacy" target="_blank">privacy policy</a>.
          .form-group
            {{ form.how_did_you_find_us.label }}
            {{ form.how_did_you_find_us(class="form-control") }}
          button(type="submit").btn.btn-default Submit
          br        
{% endblock %}

{% block script %}
{% assets filters="rjsmin", output="generated/sign-in.js",
"local/js/sign-in.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}
script(type="text/javascript").
  $(document).ready(function(){
    $("#register-li").addClass("active");
  });
{% endblock %}
