{% extends "base.jade" %}

{% block content %}
.row
  .col-sm-12
    ul.list-group
      li.list-group-item.section-header Community Rules and Terms
      li.list-group-item
        center
          h3 <strong style="color: purple;">Community Rules</strong>
        br
        p <strong style="color: purple;">Absolutely no bigotry, racism, homophobia, or misogyny.</strong> We have a zero tolerance policy for all of this stuff and everything like it. Even if it is a "joke", don't post it. Find another way to make your point or get the fuck out. (Apologies for the profanity, but forcefulness is sometimes useful to communicate a point.)
        p <strong style="color: purple;">Do not post pornographic content.</strong> Everyone is well aware of when something is completely pornographic. Don't post that stuff. It isn't allowed. If you have any questions, contact an administrator to get their opinion. In general, we're roughly a PG-13 site.
        p <strong style="color: purple;">If you're posting something saucy, put it in a [spoiler]tag[/spoiler].</strong> This is just to be respectful to those that don't necessarily want sauce with their breakfast (or who may be browsing at work). It's just common courtesy, so please try to be mindful. (By the way, if you are browsing at work, you're pretty brave! We have a setting for work-mode in your preferences, though, if you want to be less brave.) 
        p <strong style="color: purple;">Do not post excessive gore.</strong> Massive bloodbaths and rather descriptive violence can be amusing, but they can also make people very squeamish. Don't post ridiculously messy stuff. If you have any questions, contact an administrator to get their opinion. In general, we're roughly a PG-13 site.
        p <strong style="color: purple;">Avoid using excessive profanity.</strong> There is nothing wrong with an occasional swear word, but if your post is mostly swearing for the sake of swearing, then you probably shouldn't post it. Be reasonable.
        p <strong style="color: purple;">Don't be a jerk. Don't be mean to others.</strong> Feeling a little upset? Really wanting to let that other member have a piece of your mind? Step away from your computer and go calm down. Take a shower. Come back. It isn't worth it. We ban permanently for excessive personal attacks. If you feel like you are being bullied by another member, please contact a moderator - we are there for you if you're getting bullied. Let us take care of it.
        p <strong style="color: purple;">Don't make off topic or 'spammy' posts.</strong> Just don't. It's lame! Keep in mind, a post is considered off topic whenever it has absolutely nothing to do with anything that anyone is talking about. A topic that veers off course from the first post is perfectly fine. What isn't fine is something like rambling about monster truck rallies in a topic where people were discussing cheesecake.
        p <strong style="color: purple;">Write to be understood.</strong> If we can't make sense out of it, then it probably isn't a good idea to post it here. Sadly, this applies to languages other than English as well. The moderators have to be able to moderate. This means that we need to be able to read what you write.
        p <strong style="color: purple;">Do not create duplicate accounts.</strong> Obviously, it can get a little confusing for people when everyone has two or three accounts. Please don't do this. There isn't really a need for it - one account is good enough.
        p <strong style="color: purple;">Do not plagiarize.</strong> Make sure you properly attribute things that you say, if they're a quote. In addition to this, do not represent something as your creation when it is not.
        p <strong style="color: purple;">All images and videos posted throughout the site are covered under "fair use" guidelines.</strong> This is a non-commercial discussion forum for pleasant people. We are not a commercial entity and are not making a profit by posting any commercial works.
        p <strong style="color: purple;">All users are legally responsible for their own posts.</strong> Posting on GENERIC SITENAME gives us the right to display those posts; however, members still "own" their own post content and can edit through the site functions as needed.
        p <strong style="color: purple;">Remember the golden rule.</strong> No not the Golden Rule; just the golden rule. The golden rule is that the administrators get the final word in interpreting and applying the rules. We do not have "moderation disputes".
        p <strong style="color: purple;">Have Fun!</strong>
{% endblock %}
