{% extends "base.jade" %}

{% block content %}
#confirm-hide-modal.modal.fade
  test
.row
  .col-md-8
    ul.list-group.category
      li.list-group-item.section-header.sidebar-status-section(style="font-size: 14px;")
        span#status-status
        .btn-group(style="float: right;")
          if current_user.is_authenticated
            a.btn.btn-xs.btn-default.report-button(data-pk=status.id, data-type="status")
              span.glyphicon.glyphicon-exclamation-sign
          {% if mod == True %}
          {% if status.hidden %}
          a.btn.btn-xs.btn-default.post-link(href="/status/{{status.id}}/toggle-hidden") Show
          {% else %}
          a.btn.btn-xs.btn-default.post-link(href="/status/{{status.id}}/toggle-hidden") Hide
          {% endif %}
          {% endif %}
          {% if mod == True %}
          {% if status.locked %}
          a.btn.btn-xs.btn-default.post-link(href="/status/{{status.id}}/toggle-lock") Unlock
          {% else %}
          a.btn.btn-xs.btn-default.post-link(href="/status/{{status.id}}/toggle-lock") Lock
          {% endif %}
          {% endif %}
          {% if current_user == status.author %}
          {% if status.muted %}
          a.btn.btn-xs.btn-default.post-link(href="/status/{{status.id}}/toggle-mute") Unmute
          {% else %}
          a.btn.btn-xs.btn-default.post-link(href="/status/{{status.id}}/toggle-mute") Mute
          {% endif %}
          {% endif %}
          if current_user.is_authenticated
            {% if status_user.ignoring or not current_user in status.participants %}
            a.btn.btn-xs.btn-default.post-link(href="/status/{{status.id}}/toggle-ignore") Follow
            {% else %}
            a.btn.btn-xs.btn-default.post-link(href="/status/{{status.id}}/toggle-ignore") Ignore
            {% endif %}
      if status.attached_to_user
        li.list-group-item.front-page-status.attached-status#status(data-id="{{status.id}}", data-author-id="{{status.author_id}}", data-mod="{{mod}}", data-locked="{{status.locked}}")
          .media-left
            img(src="{{ status.author.get_avatar_url("60") }}", width="{{status.author.avatar_60_x}}", height="{{status.author.avatar_60_y}}", class="avatar-mini")
          .media-body
            p
              a.hover_user(href="/member/{{ status.author.my_url }}") {{ status.author.display_name }}
              span &nbsp;said
                if status.attached_to_user
                  | &nbsp;to 
                  a.hover_user(href="{{url_for('view_profile', login_name=status.attached_to_user.my_url)}}") {{ status.attached_to_user.display_name }}
                  |:
              span.status-time {{ status.created|humanize_time }} 
            if current_user.is_admin
              a.float-right(href="/admin/statusupdate/edit/?id={{status.id}}", target="_blank")
                span.glyphicon.glyphicon-cog
            p {{status.message}}
      else
        li.list-group-item.front-page-status#status(data-id="{{status.id}}", data-author-id="{{status.author_id}}", data-mod="{{mod}}", data-locked="{{status.locked}}")
          .media-left
            img(src="{{ status.author.get_avatar_url("60") }}", width="{{status.author.avatar_60_x}}", height="{{status.author.avatar_60_y}}", class="avatar-mini")
          .media-body
            p
              a.hover_user(href="/member/{{ status.author.my_url }}") {{ status.author.display_name }}
              span &nbsp;said
                if status.attached_to_user
                  | &nbsp;to 
                  a.hover_user(href="{{url_for('view_profile', login_name=status.attached_to_user.my_url)}}") {{ status.attached_to_user.display_name }}
                  |:
              span.status-time {{ status.created|humanize_time }} 
            if current_user.is_admin
              a.float-right(href="/admin/statusupdate/edit/?id={{status.id}}", target="_blank")
                span.glyphicon.glyphicon-cog
            p {{status.message}}
      li.list-group-item.status-replies#status-replies
      if current_user.is_authenticated
        li.list-group-item.status-reply-form
          form.form-inline
            .form-group.status-reply-box
              input.form-control#status-reply(type="text", maxlength="250", autocomplete="off")
            .btn-group
              button#submit-reply.btn.btn-default(type="submit") Reply
              button#show-smileys.btn.btn-default &#9786;
              button#go-down.btn.btn-default.glyphicon.glyphicon-arrow-down(style="top: 0px;")
            .smileys(style="display: none;")
              <img src="/static/emotes/angry.png" class="emoticon-listing" data-emotecode=" :anger: ">
              <img src="/static/emotes/smile.png" class="emoticon-listing" data-emotecode=" :) ">
              <img src="/static/emotes/sad.png" class="emoticon-listing" data-emotecode=" :( ">
              <img src="/static/emotes/heart.png" class="emoticon-listing" data-emotecode=" :heart: ">
              <img src="/static/emotes/oh.png" class="emoticon-listing" data-emotecode=" :surprise: ">
              <img src="/static/emotes/wink.png" class="emoticon-listing" data-emotecode=" :wink: ">
              <img src="/static/emotes/cry.png" class="emoticon-listing" data-emotecode=" :cry: ">
              <img src="/static/emotes/tongue.png" class="emoticon-listing" data-emotecode=" :silly: ">
              <img src="/static/emotes/embarassed.png" class="emoticon-listing" data-emotecode=" :blushing: ">
              <img src="/static/emotes/biggrin.png" class="emoticon-listing" data-emotecode=" :lol: ">
            &nbsp;
            span#status-comment-count
          
  .col-md-4
    ul.list-group.category
      li.list-group-item.section-header(style="font-size: 14px;") Participants
        for participant in status.participants
          li.list-group-item
            .media-left
              a(href="{{url_for('view_profile', login_name=participant.my_url)}}")
                img.media-object(src="{{ participant.get_avatar_url("60") }}", width="{{ participant.avatar_60_x }}", height="{{ participant.avatar_60_y }}", class="avatar-mini")
            .media-body
              a.hover_user(href="{{url_for('view_profile', login_name=participant.my_url)}}")= participant.display_name
              if current_user == participant:
                br
              elif current_user != participant and (mod == True) and not status.attached_to_user:
                if not participant in status.blocked():
                  br
                  a.inherit_colors.post-link(href="/status/{{status.id}}/toggle-silence/{{participant.id}}") (Silence)
                else
                  br
                  a.inherit_colors.post-link(href="/status/{{status.id}}/toggle-silence/{{participant.id}}") (Permit)
    if current_user.is_authenticated
      ul.list-group.category
        li.list-group-item.section-header(style="font-size: 14px;") New Status Update
        li.list-group-item
          form.form-group.status-reply-box
            input.form-control#status-new(type="text", maxlength="250", autocomplete="off")
            br
            button#new-status.btn.btn-default(type="submit") Create

{% endblock %}

{% block script %}

{% assets filters="rjsmin", output="generated/single-status-update.js",
"local/js/status-updates.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}
{% endblock %}
