{% extends "base.jade" %}

{% block content %}
.row
  .col-xs-12
    ul.list-group
      li.list-group-item.section-header Under Construction
      li.list-group-item
        center
          h3 We're offline for maintenance!
          br
          p 
            strong This is a little humiliating... We seem to be having a few issues.
          br
          img(src="/static/errors/under_construction.png", alt="Ban page image.", style="width: 400px; max-width: 100%")
          p
          p
          a(href="/sign-in") (Restricted Log In)
{% endblock %}
