{% extends "base.jade" %}

{% block content %}
.row
  .col-sm-12
    ul.list-group
      li.list-group-item.section-header 
      li.list-group-item
        center
          h1 <strong style="color: purple;">Welcome to {{get_site_config("core.site-name")}}, {{profile.display_name}}!</strong>
          h3 <strong style="color: purple;">Congratulations! You are our newest member!</strong>
          br
          h4 <a href="/sign-in"><strong>You can go sign in, right now, and start using the site!</strong></a>
          br
          br
{% endblock %}
