{% extends "base.jade" %}

{% block content %}
.member-page(style="background: #fff; padding: 20px;")
  .row
    .col-md-12
      if current_user.is_authenticated:
        a.btn.btn-xs.btn-default.btn-primary.float-right(href="/characters/new-character") Create a New Character
      br
      br
      table.table#character-table
        thead
          tr
            th Alias
            th Member
            th Description
            th Created
{% endblock %}

{% block script %}
{% assets filters="rjsmin", output="generated/character-listing.js",
"assets/datatables/js/jquery.dataTables.js", "assets/datatables/dataTables.bootstrap.js", 
"assets/datatables/dataTables.responsive.js",
"local/js/character-listing.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}
{% endblock %}
