# Created by https://www.gitignore.io/api/django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media
.DS_Store
.env
migrations
generated/
.webassets-cache/
config.json
setup.txt
versions/
_todo.txt
config.json
node_modules
