*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media
.DS_Store
.env
migrations
generated/
.webassets-cache/
config.json
setup.txt
versions/
lamia/static/banned_images/
_todo.txt
config.json
node_modules
celerybeat-schedule
celerybeat.pid