{
	"secret_key": "some secret key",
	"debug": true,
	"asset_debug": true,
	"base_url": "http://localhost:5000",
	"talker_path": "http://localhost:3001/talker",
	"listener": "http://localhost:3000",
	"mailgun_api": "N/A",
	"mailgun_url": "N/A",
	"listener_path": "/",
	"alchemy_uri": "postgresql://username:password@localhost/database_name",
	"twitter_consumer_key": "",
	"twitter_consumer_secret": "",
	"twitter_access_token_key": "",
	"twitter_access_token_secret": "",
  "celery_result_backend": "redis://localhost:6379",
  "celery_broker_url": "redis://localhost:6379",
  "rss_feed_update_delay": 10
}

DELETE THIS LINE - also, substitute with real values as needed