{
	"secret_key": "some secret key",
	"debug": true,
	"asset_debug": true,
	"base_url": "http://localhost:5000",
	"talker_path": "http://localhost:3001/talker",
	"listener": "http://localhost:3000",
	"mailgun_api": "N/A",
	"listener_path": "/",
	"alchemy_uri": "postgresql://username:password@localhost/database_name",
	"twitter_consumer_key": "",
	"twitter_consumer_secret": "",
	"twitter_access_token_key": "",
	"twitter_access_token_secret": ""
}

DELETE THIS LINE - also, substitute localhost for your actual db name