{% extends "base.jade" %}

{% block content %}
.row 
  .col-sm-4
    ul.list-group
      li.list-group-item.section-header {{character.name}}
      li.list-group-item.text-center
        {% if character.get_avatar() != "" %}
        img.center-block.profile-page-avatar.profile-avatar(src="{{character.get_avatar(200)}}", style="max-width: 200px;")
        {% endif %}
        {% if character.motto != "" %}
        center
          span.text-muted(style="max-width: 200px;")= character.motto
        {% endif %}
        if current_user.is_authenticated() and current_user.is_admin
          center
            br
            if character.hidden
              a.btn.btn-warning.post-link(href="/characters/{{character.slug}}/toggle-hide") Unhide Character
            else
              a.btn.btn-warning.post-link(href="/characters/{{character.slug}}/toggle-hide") Hide Character
        br
    ul.list-group
      li.list-group-item.section-header More Information
      li.list-group-item.text-center
        if character.age
          strong Age : 
          {{character.age|e}}
          br
        if character.species
          strong Species : 
          {{character.species|e}}
          br
        strong Added by : 
        a.hover_user(href="/member/{{character.author.my_url}}") {{character.author.display_name|e}}
        br
        if character.age or character.species
          hr
        ul.nav.nav-tabs.nav-stacked(role="tablist", style="border: none !important;")
          li(role="presentation")
            a(href="/characters/{{character.slug}}") Basic Profile
          li(role="presentation")
            a(href="/characters/{{character.slug}}/view-posts") Character Posts
            li(role="presentation")
              a(href="/characters/{{character.slug}}/gallery") Character Gallery
    if current_user == character.author or current_user.is_admin
      ul.list-group
        li.list-group-item.section-header Edit
        li.list-group-item.text-center
          ul.nav.nav-tabs.nav-stacked(role="tablist", style="border: none !important;")
              li(role="presentation")
                a(href="/characters/{{character.slug}}/edit-profile") Edit Profile
              li(role="presentation")
                a(href="/characters/{{character.slug}}/manage-gallery") Manage Gallery
  .col-sm-8
    {% block profile_content %}
    ul.list-group
      li.list-group-item.section-header Basic Profile
      li.list-group-item.character-profile
        center
          {% if character.get_portrait() != "" %}
          img.center-block.profile-page-avatar.profile-avatar(src="{{character.get_portrait(250)}}", style="max-width: 250px;")
          {% endif %}
          h3!= character.name
        hr(style="margin-bottom: 0px !important;")
        if character.other and not character.other.replace("<div>","").replace("</div>","").strip() == "<br>"
          center
            br
          span!= character.parsed_other
        hr
        i - <a href="/member/{{character.author.my_url}}">{{character.author.display_name|e}}</a>
    {% endblock %}
{% endblock %}

{% block script %}
script(type="text/javascript").
  $(document).ready(function(){
    window.addExtraHTML(".character-profile")
  });
{% endblock %}
