{% extends "roleplay/character_profile.jade" %}

{% block profile_content %}
ul.list-group
  li.list-group-item.section-header {{character.name|e}}'s Posts
  li.list-group-item
    table.table#post-table
      thead
        tr
          th Topic
          th Author
          th Date
          th Date HIDDEN
{% endblock %}

{% block script %}
{% assets filters="rjsmin", output="generated/roleplay-posts-by-character.js",
"assets/datatables/js/jquery.dataTables.js", "assets/datatables/dataTables.bootstrap.js", 
"assets/datatables/dataTables.responsive.js",
"local/js/roleplay-posts-by-character.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}
{% endblock %}
