{% extends "roleplay/character_profile.jade" %}

{% block profile_content %}
//- .panel.panel-default
//-   .panel-heading Current Avatar & Profile
//-   .panel-body
//-     if character.legacy_avatar_field or character.legacy_gallery_field
//-       div.alert.alert-warning.alert-dismissible(role="alert")
//-         | Your character was imported from IP.Board. Please download
//-         | your images and then reupload them using the new form.
//-         button.close(type="button", data-dismiss="alert")
//-           span(aria-hidden="true") &times;
//-     .row
//-       .col-sm-6
//-         {% if character.get_avatar() != "" %}
//-         center
//-           h4 Default Avatar
//-         img.center-block.image-box(src="/static/uploads/{{character.get_avatar()}}", style="max-width: 200px;")
//-         {% endif %}
//-       .col-sm-6
//-         {% if character.get_portrait() != "" %}
//-         center
//-           h4 Default Profile Image
//-         img.center-block.image-box(src="/static/uploads/{{character.get_portrait()}}", style="max-width: 200px;")
//-         {% endif %}
.panel.panel-default
  .panel-heading Add Images
  .panel-body 
    .dropzone 
if images
  .panel.panel-default
    .panel-heading Image Gallery
    .panel-body
      for image in images
        .media(data-image="{{image.pk}}")
          .media-left
            img.image-box(src="{{image.get_specific_size(100)}}", style="max-width: 100px;")
          .media-body(style="padding-left: 20px;")
            form.form-horizontal
              .form-group
                .col-sm-2
                  label.control-label Created by
                .col-sm-10
                  input.form-control.created-by(value=image.caption)
              .form-group
                .col-sm-2
                  label.control-label Source
                .col-sm-10
                  input.form-control.source-of(value=image.origin_url)
              .form-group
                .col-sm-2
                  label.control-label Caption
                .col-sm-10
                  input.form-control.caption-for(value=image.alt)
            button.btn.btn-default.btn-xs.save-button Save
            if not image.character_emote
              button.btn.btn-default.btn-xs.toggle-emote-button(data-status="no") Add to Avatars
            else
              button.btn.btn-success.btn-xs.toggle-emote-button(data-status="yes") Remove from Avatars
            if not image == character.default_avatar
              button.btn.btn-default.btn-xs.toggle-default-avatar-button Make Default Avatar
            else
              button.btn.btn-default.btn-success.btn-xs.toggle-default-avatar-button.disabled Default Avatar
            if not image == character.default_gallery_image
              button.btn.btn-default.btn-xs.toggle-default-profile-button Make Default Profile Image
            else
              button.btn.btn-default.btn-success.btn-xs.toggle-default-profile-button.disabled Default Profile Image
            button.btn.btn-danger.btn-xs.delete-button Delete
            button.btn.btn-danger.btn-xs.confirm-delete(style="display: none;") Confirm Delete
          hr
  
{% endblock %}

{% block script %}
{% assets filters="rjsmin", output="generated/manage-gallery.js",
"assets/quill/quill.js", "assets/dropzone/dropzone.js", 
"assets/select2/select2.full.js", "local/js/inline-editor.js",
"local/js/manage-character-gallery.js" %}
script(type="text/javascript", src="{{ASSET_URL}}")
{% endassets %}
{% endblock %}