{% extends "base.jade" %}

{% block content %}
.panel.panel-default
  .panel-heading Create a New Character (with love)
  .panel-body
    .edit-fields(style="padding: 10px;")
      form.form-horizontal(action="/characters/new-character", method="post")
        {{ form_errors(form) }}
        .form-group
          .col-sm-3
            {{ form.name.label(class="control-label") }}
          .col-sm-9
            {{ form.name(class="form-control") }}
        .form-group
          .col-sm-3
            {{ form.age.label(class="control-label") }}
          .col-sm-9
            {{ form.age(class="form-control") }}
        .form-group
          .col-sm-3
            {{ form.species.label(class="control-label") }}
          .col-sm-9
            {{ form.species(class="form-control") }}
        .form-group
          .col-sm-3
            {{ form.motto.label(class="control-label") }}
          .col-sm-9
            {{ form.motto(class="form-control") }}
        hr
        .form-group
          .col-sm-3
            {{ form.appearance.label(class="control-label") }}
          .col-sm-9
            #character-appearance!= form.appearance.data
            {{ form.appearance }}
        hr
        .form-group
          .col-sm-3
            {{ form.personality.label(class="control-label") }}
          .col-sm-9
            #character-personality!= form.personality.data
            {{ form.personality }}
        hr
        .form-group
          .col-sm-3
            {{ form.backstory.label(class="control-label") }}
          .col-sm-9
            #character-backstory!= form.backstory.data
            {{ form.backstory }}
        hr
        .form-group
          .col-sm-3
            {{ form.other.label(class="control-label") }}
          .col-sm-9
            #character-other!= form.other.data
            {{ form.other }}
        hr
        button#commit-edit(type="submit").btn.btn-default Submit
        &nbsp;
        &nbsp;
        a#cancel-edit(href="/characters").btn.btn-default Cancel
        
{% endblock %}

{% block script %}
{% assets filters="rjsmin", output="generated/editor.js",
"assets/quill/quill.js", "assets/dropzone/dropzone.js", 
"assets/select2/select2.full.js", "local/js/inline-editor.js",
"local/js/edit-character-profile.js" %}
script(type="text/javascript", src="{{ASSET_URL}}")
{% endassets %}
{% endblock %}