{% extends "base.jade" %}

{% block content %}
.breadcrumb
  li
    a(href="/") Home
  li.active 
    b
      a(href="/messages") Private Messages
.row
  .col-md-12
    ul.list-group.category
      li.list-group-item.section-header
        .btn-group(style='float: right;')
          a.btn.btn-default.btn-xs(href="/new-message") New Message
              
            //-   {% if current_user.is_mod %}
            //-   button.btn.btn-default.btn-xs(type='button') Moderate
            //-   button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
            //-     | Actions
            //-     span.caret
            //-   ul.dropdown-menu(role='menu')
            //-     li
            //-       a(href='#') Action
            //-     li
            //-       a(href='#') Another action
            //-     li
            //-       a(href='#') Something else here
            //-     li.divider
            //-     li
            //-       a(href='#') Separated link
            //-   {% endif %}
      if current_user.is_authenticated()
        li.list-group-item.topic-listing(data-pagination='{{current_user.topic_pagination}}')
      else
        li.list-group-item.topic-listing(data-pagination='20')
nav.pagination-listing
{% endblock %}

{% block script %}
script(src="/static/assets/handlebars-v3.0.3.js")
script(src="/static/local/js/private-message-index.js")
script(type="text/javascript")
  $(document).ready(function(){
    $('#forum-li').addClass('active');
  });
{% endblock %}