{% extends "base.jade" %}

{% block content %}
.breadcrumb
  li
    a(href="/") Home
  li 
    a(href="/messages") Private Messages
  li.active 
    b
      a(href="") New Private Message
.row
  .col-md-12
    h2 Send a New Private Message
    form#new-topic-form(method="post")
      .row
        .col-md-8
          .row
            .form-group.col-md-8
              label(for="title") Title
              input.form-control#title(value="")
          .row
            .form-group.col-md-6
              label(for="title") To
              select#to.form-control(multiple="multiple")
          .row
            .form-group.col-md-12
              #new-post-box
nav.pagination-listing
{% endblock %}
{% block header %}



link(href='/static/assets/select2/select2.min.css', rel='stylesheet')
link(href='/static/assets/select2/select2-bootstrap.css', rel='stylesheet')
{% endblock %}

{% block script %}
{% assets filters="rjsmin", output="generated/editor.js",
"assets/quill/quill.js", "assets/dropzone/dropzone.js", "local/js/inline-editor.js" %}
script(type="text/javascript", src="{{ASSET_URL}}")
{% endassets %}

script(src="/static/assets/handlebars.min.js")

{% assets filters="rjsmin", output="new-private-message.js",
"local/js/new-private-message.js", "assets/select2/select2.full.js" %}
script(type="text/javascript", src="{{ASSET_URL}}")
{% endassets %}

script(type="text/javascript")
  $(document).ready(function(){  
  
  });
{% endblock %}
