{% extends "base.jade" %}

{% block content %}
.row

{% endblock %}

{% block script %}
script(src="/static/assets/jquery.shuffle.modernizr.js")
script(src="/static/assets/handlebars.min.js")
script(src="/static/local/js/status-index.js")
{% endblock %}