{% extends "base.jade" %}

{% block content %}
.row
  #temporary-buffer(style="display: none;")
  .col-sm-12
    .panel.panel-default
      .panel-heading#filtering-header
        span Filtering
      .panel-body.hidden-md.hidden-lg.hidden-sm
        form.display-form
          .form-group.form-group-sm
            label.control-label Display 
            select.form-control.how-many
              option(value="10") 10
              option(value="20") 20
              option(value="40") 40
              option(value="80") 80
              option(value="100") 100
        form.author-form
          .form-group.form-group-sm
            label.control-label Author
            select.form-control.by-who.author(multiple="multiple")
        form.search-form
          .form-group.form-group-sm
            label.control-label Search
            input.form-control.search-for
          button.btn.btn-default.update-statuses(type="submit") Update
      .panel-body.hidden-xs
        form.form-inline.float-left.display-form
          .form-group.form-group-sm
            label.control-label Display 
            select.form-control.how-many
              option(value="10") 10
              option(value="20") 20
              option(value="40") 40
              option(value="80") 80
              option(value="100") 100
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
        form.form-inline.float-left.author-form
          .form-group.form-group-sm
            label.control-label Author
            select.form-control.by-who-two.author(multiple="multiple", style="width: 200px")
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
        form.form-inline.float-left.search-form
          .form-group.form-group-sm
            label.control-label Search
            input.form-control.search-for 
          button.btn.btn-default.update-statuses(type="submit") Update
  .col-sm-12
    .panel.panel-default
      .panel-heading
        span Status Updates
      .panel-body.body-background#msg-container
      .panel-body.body-background#status-container
        {% for status in status_updates %}
        .col-md-4.col-sm-6.status-index-panel
          .panel.panel-default
            .panel-body
              .media-left
                a(href="{{url_for('view_profile', login_name=status.author.login_name)}}")
                  img.media-object(src="{{ status.author.get_avatar_url("40") }}", width="{{status.author.avatar_40_x}}px", height="{{status.author.avatar_40_y}}px", class="avatar-mini")
              .media-body
                a.hover_user(href="{{url_for('view_profile', login_name=status.author.login_name)}}") {{ status.author.display_name }}
                span &nbsp;says:
                span.discuss 
                  a.status-reply-time.float-right(href="/status/{{status.pk}}") Discuss
                br
                if status.old_ipb_id
                  p.status-message {{ status.message }}
                else
                  span.status-message {{ status.message }}
                span.status-reply-time 
                  a(href="/status/{{status.pk}}") {{ status.created|humanize_time }}
        {% endfor %}

{% endblock %}

{% block header %}
link(href='/static/assets/select2/select2.min.css', rel='stylesheet')
link(href='/static/assets/select2/select2-bootstrap.css', rel='stylesheet')
{% endblock %}

{% block script %}
script(type="text/javascript")
  $(document).ready(function(){ 
    window.count = {{count}};
    window.authors = JSON.parse('{{authors}}');
    window.search = "{{search}}";
  });
script(src="/static/assets/jquery.shuffle.modernizr.js")
script(src="/static/assets/select2/select2.full.min.js")
script(src="/static/assets/handlebars.min.js")
script(src="/static/local/js/status-index.js")
{% endblock %}