{% extends "base.jade" %}

{% block content %}
.row
  .col-lg-12.col-md-12.col-sm-12
    ul.list-group
      li.list-group-item.section-header Error 404
      li.list-group-item
        center
          h2 Page Not Found
          h3 You were looking for something that doesn't seem to be here anymore.
          br
          p
            strong Oh my goodness! It's gone! Well, we'll start looking for it. In the meantime, <a href="/">click here to go home</a>.
          img(src="/static/errors/404.png", alt="Ban page image.", style="width: 400px; max-width: 100%")
          p
          p
{% endblock %}
