{% extends "base.jade" %}

{% block content %}
.row
  .col-lg-8.col-md-8.col-sm-10
    ul.list-group
      li.list-group-item
        center
          h2 Page Not Found
          h3 You were looking for something that doesn't seem to be here anymore.
          p
            strong Don't worry, our detective is on the case! In the meantime, <a href="/">click here to go home</a>.
          img(src="/static/detective.png", alt="Ban page image.", style="width: 400px; max-width: 100%")
          p
          p
{% endblock %}
