{% extends "base.jade" %}

{% block content %}
.row
  .col-lg-8.col-md-8.col-sm-10
    ul.list-group
      li.list-group-item.section-header Error 500
      li.list-group-item
        center
          h2.text-danger Server Error
          h3.text-danger Something bad just happened. Don't panic!
          br
          p
            strong Don't worry, we're on the job!
          img(src="/static/errors/500.png", alt="Ban page image.", style="width: 400px; max-width: 100%")
          p
          p
{% endblock %}
