{% extends "base.jade" %}

{% block content %}
.row
  .col-sm-12
    ul.list-group
      li.list-group-item.section-header Thank You!
      li.list-group-item
        center
          h3 <strong style="color: purple;">Acknowledgements &amp; Thanks</strong>
          br
          p <strong style="color: purple;">This is the page where we say "thank you" and give credit where credit is due for the images and other assets that are used to make this site.</strong>
          h4 We would like to sincerely and deeply thank (and give credit to)
          p <strong style="color: purple;"><a href="https://zinnia-seed.tumblr.com/">Zinniaseed</a> for the default avatar image and site mascot.</strong>
          h4 We would also like to give credit to
          p <strong style="color: purple;"><a href="https://freesound.org/people/FoolBoyMedia/sounds/234524/">FoolBoyMedia</a> for the notification sound.</strong>
          p <strong style="color: purple;"><a href="http://mtman6.deviantart.com/art/Vectorsmile-for-Kopete-66736172">mtman6</a> for the initial set of smilies.</strong>
{% endblock %}
