{% extends "base.jade" %}

{% block content %}
.row
  .col-sm-12
    ul.list-group
      li.list-group-item.section-header Thank You!
      li.list-group-item
        center
          img(src="/static/ack.png")
          h3 Acknowledgements &amp; Thanks
          br
          p This is the page where we say "thank you" and give credit where credit is due for the images and other assets that are used to make this site.
          br
          p <em>We would like to sincerely and deeply thank (and give credit to)</em>
          h4 <a href="https://zinnia-seed.tumblr.com/">Zinniaseed</a> for the default avatar image, site mascot, and the image above for the acknowledgements page. <br>Thank you, Zin! :)
          br
          p <em>We would also like to give credit to</em>
          p <a href="https://freesound.org/people/FoolBoyMedia/sounds/234524/">FoolBoyMedia</a> for the notification sound.
          p <a href="http://mtman6.deviantart.com/art/Vectorsmile-for-Kopete-66736172">mtman6</a> for the initial set of smilies.
{% endblock %}
