{% extends "base.jade" %}

{% block content %}
.row
  .col-sm-12
    ul.list-group
      li.list-group-item.section-header We're Sorry, We're So Sorry.
      li.list-group-item
        center
          img(src="{{images|random}}", alt="Ban page image.")
        p
          br
          br
        p Hello. If you're seeing this page, then this means that you have been banned. It was clear, after examining your account, that you did not intend to behave with respect to this site and its members. Because of this, you were banned.
        p Being able to participate in a community is a gift and a privilege. It should be treasured and every effort should be made to show that it is treasured. You made minimal or no effort, and you have been met at your level of investment.
        p There are other communities where you will fit in more appropriately. I hope that you find them and wish you well. Take care.
        p If you feel this is a mistake, then please contact iwasbanned-@-casualanime.com (remove the dashes). Please note, "I didn't deserve this" is not a valid reason to contact us. There are no moderation disputes. Quite frankly, we don't have the time to spend on that, when we could use that time to continue to make the community a better place for those that aren't banned.
{% endblock %}
