!!! 5
doctype html(lang="en")
{% macro form_errors(form) %}
{% if form.errors %}
<ul class="errors">
{% for field_name, field_errors in form.errors|dictsort if field_errors %}
{% for error in field_errors %}
<li>{{ form[field_name].label }}: {{ error }}</li>
{% endfor %}
{% endfor %}
</ul>
{% endif %}
{% endmacro %}
head
    link(rel="icon", href="/static/favicon.png", type="image/png", sizes="any")
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    if notification_count
      title ({{notification_count}}) - {{ page_title }}
    else
      title {{ page_title }}
    if current_user.is_authenticated() and current_user.custom_theme
      {% assets filters="cssmin", output="generated/woe-core.css",
      "assets/bootstrap.css", "assets/quill/quill.base.css", "assets/quill/quill.snow.css", 
      "assets/dropzone/dropzone.css", "bootstrap-datepicker/bootstrap-datepicker.css",
      "assets/select2/select2.css", "assets/select2/select2-bootstrap.css",
      "assets/datatables/dataTables.bootstrap.css", "assets/datatables/dataTables.responsive.css",
      "{{current_user.custom_theme}}" %}
      link(href='{{ASSET_URL}}', rel='stylesheet')
      {% endassets %}
    else
      {% assets filters="cssmin", output="generated/woe-core.css",
      "assets/bootstrap.css", "assets/quill/quill.base.css", "assets/quill/quill.snow.css", 
      "assets/dropzone/dropzone.css", "assets/bootstrap-datepicker/bootstrap-datepicker.css",
      "assets/select2/select2.css", "assets/select2/select2-bootstrap.css",
      "assets/datatables/dataTables.bootstrap.css", "assets/datatables/dataTables.responsive.css",
      "local/css/woe-theme.css" %}
      link(href='{{ASSET_URL}}', rel='stylesheet')
      {% endassets %}
      
    {% block header %}
    {% endblock %}
body(role='document')
  a(href="/")
    .site-background.hidden-xs
  .container#site-container
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          if current_user.is_authenticated()
            a.button.collapsed.float-left.hidden-sm.hidden-md.hidden-lg(style="margin-left: 5px;", href='/member/{{current_user.login_name}}')
              img(src='{{current_user.get_avatar_url("40")}}', width='{{current_user.avatar_40_x}}', height='{{current_user.avatar_40_y}}', style='margin-top: 7px; margin-left: 0px;', class="avatar-mini")
          a.button.mini-notification-button.collapsed.hidden-sm.hidden-md.hidden-lg(style="margin-left: 5px;", href='/')
            span.glyphicon.glyphicon-home()
          if current_user.is_authenticated()
            a.button.mini-notification-button.collapsed.dropdown-toggle.notification-dropdown-toggle.hidden-sm.hidden-md.hidden-lg(style="margin-left: 5px;", href='/dashboard', data-toggle='dropdown', role='button', aria-expanded='false')
              if notification_count == 0
                span.badge.notification-counter {{notification_count}}
              else
                span.badge.notification-counter(style="background-color: #B22222;") {{notification_count}}
            ul.dropdown-menu.notification-dropdown(role='menu')
              li
                a(href='/dashboard') Dashboard&nbsp;
                  span.badge.dashboard-counter.float-right{{current_user.get_dashboard_notifications()}}
              li.divider
              for notification in current_user.get_recent_notifications(15)
                li.notification-li
                  a.notification-link(href='{{notification.url}}', data-notification="{{notification.pk}}")= notification.text
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            if not current_user.is_authenticated()
              li#sign-in-li.hidden-sm.hidden-md.hidden-lg
                a(href='/sign-in')
                  | Sign In
              li#register-li.hidden-sm.hidden-md.hidden-lg
                a(href='/register')
                  | Register
              li
                hr
            li#forum-li
              a(href='/') Forum
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                | Community 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='/blogs') Blogs
                li
                  a(href='/status-updates') Status Updates
                li.divider
                li
                  a(href='/members')
                    | Members
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                | Roleplay 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='/characters') Characters
                li.divider
                li
                  a(href='/category/roleplays') Roleplays
                li
                  a(href='/category/scenarios') Scenarios
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                | Support 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='/t/community-rules-and-terms') Community Rules
                li
                  a(href='/category/frequently-asked-questions') Frequently Asked Questions
                li
                  a(href='/category/help-lab') Ask for help?
                li.divider
                li
                  a(href='/t/how-can-i-be-a-nice-person-online') How to be Nice
            li
              a(href='/search')
                | Search
            if current_user.is_authenticated()
              li.divider.hidden-sm.hidden-md.hidden-lg
                hr
              li.hidden-sm.hidden-md.hidden-lg
                a(href='/dashboard') Dashboard
              li.hidden-sm.hidden-md.hidden-lg
                a(href='/messages') Messages
              li.hidden-sm.hidden-md.hidden-lg
                a(href='/member/{{current_user.login_name}}') Profile
              li.hidden-sm.hidden-md.hidden-lg
                a.sign-out(href='#') Sign Out
          ul.nav.navbar-nav.navbar-right.hidden-xs
            if current_user.is_authenticated()
              li
                img(src='{{current_user.get_avatar_url("40")}}', width='{{current_user.avatar_40_x}}', height='{{current_user.avatar_40_y}}', style='margin-top: 5px; margin-left: 15px;', class="avatar-mini")
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  | {{current_user.display_name}}
                  span.caret
                ul.dropdown-menu(role='menu')
                    li
                    li
                      a(href='/dashboard') Dashboard
                    li
                      a(href='/messages') Messages
                    li
                      a(href='/member/{{current_user.login_name}}') Profile
                    li.divider
                    li
                      a.sign-out(href='#') Sign Out
            else
              li#sign-in-li.hidden-xs
                a(href='/sign-in')
                  | Sign In
              li#register-li.hidden-xs
                a(href='/register')
                  | Register
            if current_user.is_authenticated()
              li.dropdown#dashboard-li.hidden-xs
                a.dropdown-toggle.notification-dropdown-toggle(href='/dashboard', data-toggle='dropdown', role='button', aria-expanded='false')
                  if notification_count == 0
                    span.badge.notification-counter {{notification_count}}
                  else
                    span.badge.notification-counter(style="background-color: #B22222;") {{notification_count}}
                ul.dropdown-menu.notification-dropdown(role='menu')
                  li
                    a(href='/dashboard') Dashboard&nbsp;
                      span.badge.dashboard-counter.float-right{{current_user.get_dashboard_notifications()}}
                  li.divider
                  for notification in current_user.get_recent_notifications(15)
                    li.notification-li
                      a.notification-link(href='{{notification.url}}', data-notification="{{notification.pk}}")= notification.text
                      
    #content-border
      {% block content %}
      {% endblock %}
      .row
        .col-xs-12
          hr
      .row
        .col-xs-12
          a(href="/t/privacy-policy") Privacy Policy
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          a(href="/t/community-rules-and-terms") Site Rules
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          a.to-top(href="/") Go to Top
      .row
        .col-xs-12
          br
          br
  #img-click-modal.modal.fade
  #report-click-modal.modal.fade
  script(src="/static/assets/handlebars.min.js")
  
  script(type="text/javascript")
  if current_user.is_authenticated()
    script(type="text/javascript")
      window.woe_is_me = "{{current_user.login_name}}";
      window.my_tz = "{{current_user.time_zone}}";
      {% if current_user.is_authenticated() %}
      window.logged_in = true;
      {% else %}
      window.logged_in = false;
      {% endif %}
  {% assets filters="rjsmin", output="generated/base.js",
  "assets/jquery-1.11.3.js", "assets/socket.io.js", "assets/bootstrap.js",
  "assets/moment.js", "assets/socket.io.js", "assets/ie10-viewport-bug-workaround.js",
  "local/js/base.js", "assets/dotdotdot/jquery.dotdotdot.js", "assets/moment-timezone-with-data-2010-2020.js",
  "assets/ie-emulation-modes-warning.js" %}
  script(type="text/javascript", src="{{ASSET_URL}}")
  {% endassets %}
  {% block script %}
  {% endblock %}
