{% extends "base.jade" %}

{% block content %}
.row#dashboard-container
{% endblock %}

{% block script %}
script(src="/static/assets/handlebars-v3.0.3.js")
script(src="/static/assets/jquery.shuffle.modernizr.js")
script(src="/static/local/js/dashboard.js")
// script(type="text/javascript")
//   $(document).ready(function(){
//     $('#dashboard-li').addClass('active');
//     $('[data-toggle="popover"]').popover();
//     var $grid = $('#dashboard-container');
//     $grid.shuffle({
//       itemSelector: '.dashboard-panel'
//     });
//   });
{% endblock %}