{% extends "base.jade" %}

{% block content %}
.row
  .col-lg-6.col-md-6.col-sm-8
    ul.list-group.category
      li.list-group-item.section-header Forgot Your Password?
      li.list-group-item
        p Enter your email address to continue.
        form(action="/forgot-password", method="post")
          {{ form_errors(form) }}
          .form-group
            {{ form.email_address.label }}
            {{ form.email_address(class="form-control") }}
          button(type="submit").btn.btn-default Submit
{% endblock %}
