{% extends "base.jade" %}

{% block content %}
.row
  .col-lg-6.col-md-6.col-sm-8
    .panel.panel-default
      .panel-heading Forgot Your Password?
      .panel-body
        p Enter your email address to continue.
        form(action="/forgot-password", method="post")
          {{ form_errors(form) }}
          .form-group
            {{ form.email_address.label }}
            {{ form.email_address(class="form-control") }}
          button(type="submit").btn.btn-default Submit
{% endblock %}
