{% extends "base.jade" %}

{% block content %}
.row
  .col-sm-12
    ul.list-group
      li.list-group-item.section-header Global Stats
      li.list-group-item
        .row
          .col-md-4.col-sm-6
            h3 Spam Chefs 
              span.text-muted(style="font-size: 75%;") most posts
            br
            for user in all_stats["post_count"].db_users[:10]
              if all_stats["post_count"].counts[user.login_name] > 0
                .row(style="margin-bottom: 10px;")
                  .col-xs-5
                    .media-left
                      a(href="{{url_for('view_profile', login_name=user.login_name)}}")
                        img.media-object(src="{{ user.get_avatar_url("40") }}", width="{{ user.avatar_40_x }}", height="{{ user.avatar_40_y }}", class="avatar-mini")
                    .media-body
                      span
                        a.hover_user(href="{{url_for('view_profile', login_name=user.login_name)}}")= user.display_name
                  .col-xs-7
                    if all_stats["post_count"] == 1
                      strong
                        | {{all_stats["post_count"].counts[user.login_name]|number_format}} post
                    else
                      strong
                        | {{all_stats["post_count"].counts[user.login_name]|number_format}} posts
          .col-md-4.col-sm-6
            h3 Thread Wizards 
              span.text-muted(style="font-size: 75%;") most topics
            br
            for user in all_stats["topic_count"].db_users[:10]
              if all_stats["topic_count"].counts[user.login_name] > 0
                .row(style="margin-bottom: 10px;")
                  .col-xs-5
                    .media-left
                      a(href="{{url_for('view_profile', login_name=user.login_name)}}")
                        img.media-object(src="{{ user.get_avatar_url("40") }}", width="{{ user.avatar_40_x }}", height="{{ user.avatar_40_y }}", class="avatar-mini")
                    .media-body
                      span
                        a.hover_user(href="{{url_for('view_profile', login_name=user.login_name)}}")= user.display_name
                  .col-xs-7
                    if all_stats["topic_count"] == 1
                      strong
                        | {{all_stats["topic_count"].counts[user.login_name]|number_format}} topic
                    else
                      strong
                        | {{all_stats["topic_count"].counts[user.login_name]|number_format}} topics
          .col-md-4.col-sm-6
            h3 Scribes 
              span.text-muted(style="font-size: 75%;") most words written
            br
            for user in all_stats["word_count"].db_users[:10]
              if all_stats["word_count"].counts[user.login_name] > 0
                .row(style="margin-bottom: 10px;")
                  .col-xs-5
                    .media-left
                      a(href="{{url_for('view_profile', login_name=user.login_name)}}")
                        img.media-object(src="{{ user.get_avatar_url("40") }}", width="{{ user.avatar_40_x }}", height="{{ user.avatar_40_y }}", class="avatar-mini")
                    .media-body
                      span
                        a.hover_user(href="{{url_for('view_profile', login_name=user.login_name)}}")= user.display_name
                  .col-xs-7
                    if all_stats["word_count"] == 1
                      strong
                        | {{all_stats["word_count"].counts[user.login_name]|number_format}} words
                    else
                      strong
                        | {{all_stats["word_count"].counts[user.login_name]|number_format}} words
        .row
          .col-md-4.col-sm-6
            h3 Serial Boopers 
              span.text-muted(style="font-size: 75%;") most boops given
            br
            for user in all_stats["boops_given"].db_users[:10]
              if all_stats["boops_given"].counts[user.login_name] > 0
                .row(style="margin-bottom: 10px;")
                  .col-xs-5
                    .media-left
                      a(href="{{url_for('view_profile', login_name=user.login_name)}}")
                        img.media-object(src="{{ user.get_avatar_url("40") }}", width="{{ user.avatar_40_x }}", height="{{ user.avatar_40_y }}", class="avatar-mini")
                    .media-body
                      span
                        a.hover_user(href="{{url_for('view_profile', login_name=user.login_name)}}")= user.display_name
                  .col-xs-7
                    if all_stats["boops_given"] == 1
                      strong
                        | {{all_stats["boops_given"].counts[user.login_name]|number_format}} post
                    else
                      strong
                        | {{all_stats["boops_given"].counts[user.login_name]|number_format}} posts
          .col-md-4.col-sm-6
            h3 Microbloggers 
              span.text-muted(style="font-size: 75%;") most status updates
            br
            for user in all_stats["status_count"].db_users[:10]
              if all_stats["status_count"].counts[user.login_name] > 0
                .row(style="margin-bottom: 10px;")
                  .col-xs-5
                    .media-left
                      a(href="{{url_for('view_profile', login_name=user.login_name)}}")
                        img.media-object(src="{{ user.get_avatar_url("40") }}", width="{{ user.avatar_40_x }}", height="{{ user.avatar_40_y }}", class="avatar-mini")
                    .media-body
                      span
                        a.hover_user(href="{{url_for('view_profile', login_name=user.login_name)}}")= user.display_name
                  .col-xs-7
                    if all_stats["status_count"] == 1
                      strong
                        | {{all_stats["status_count"].counts[user.login_name]|number_format}} topic
                    else
                      strong
                        | {{all_stats["status_count"].counts[user.login_name]|number_format}} topics
          .col-md-4.col-sm-6
            h3 Chatty Chatters 
              span.text-muted(style="font-size: 75%;") most status comments
            br
            for user in all_stats["status_comments_count"].db_users[:10]
              if all_stats["status_comments_count"].counts[user.login_name] > 0
                .row(style="margin-bottom: 10px;")
                  .col-xs-5
                    .media-left
                      a(href="{{url_for('view_profile', login_name=user.login_name)}}")
                        img.media-object(src="{{ user.get_avatar_url("40") }}", width="{{ user.avatar_40_x }}", height="{{ user.avatar_40_y }}", class="avatar-mini")
                    .media-body
                      span
                        a.hover_user(href="{{url_for('view_profile', login_name=user.login_name)}}")= user.display_name
                  .col-xs-7
                    if all_stats["status_comments_count"] == 1
                      strong
                        | {{all_stats["status_comments_count"].counts[user.login_name]|number_format}} words
                    else
                      strong
                        | {{all_stats["status_comments_count"].counts[user.login_name]|number_format}} words
{% endblock %}
