{% extends "base.jade" %}

{% block content %}
table.table
  thead
    tr
      th Name
      th Registration Date
      th Last Seen
      th Roles
  tfoot
    tr
      th Name
      th Registration Date
      th Last Seen
      th Roles
{% endblock %}
