{% extends "base.jade" %}

{% block content %}
.row
  .col-lg-6.col-md-6.col-sm-8
    .panel.panel-default
      .panel-heading Password Reset
      .panel-body
        p Type in a new password and your account will be reset!
        form(action="/password-reset/{{token}}", method="post")
          {{ form_errors(form) }}
          .form-group
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
          .form-group
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class="form-control") }}
          button(type="submit").btn.btn-default Submit
{% endblock %}
