{% extends "base.jade" %}

{% block content %}
.row
  .col-sm-12
    ul.list-group
      li.list-group-item.section-header Privacy Policy
      li.list-group-item
        center
          h3 <strong style="color: purple;">Privacy Policy</strong>
        br
        p <strong style="color: purple;">We use cookies.</strong> Like almost every website online, we use cookies. Cookies are delicious!
        p <strong style="color: purple;">We collect a little bit of information.</strong> Again, like almost every website online, we log ip addresses to protect against abuse of our services.
        p <strong style="color: purple;">We don't sell any of your information.</strong> We don't have any advertisements. We don't have any spyware. We don't have any business partners that we share your information with. Everything that ends up here, stays here. You can trust us.
        p <strong style="color: purple;">If you have any questions about anything, please email us at help-@-casualanime.com.</strong>
{% endblock %}
