{% extends "base.jade" %}

{% block content %}
.row 
  .col-sm-4
    .panel.panel-default
      .panel-heading {{profile.display_name}}'s Profile
        {% if current_user == profile or current_user.is_staff %}
        a(href="/member/{{profile.login_name}}/change-avatar-title")
          span.glyphicon.glyphicon-cog.float-right
        {% endif %}
      .panel-body.text-center
        {% if profile.avatar_extension != "" %}
        img.center-block.profile-page-avatar#profile-avatar(src="{{profile.get_avatar_url()}}", width="{{profile.avatar_full_x}}", height="{{profile.avatar_full_y}}")
        {% else %}
        img.center-block.profile-page-avatar#profile-avatar(src="", width="200px", height="200px")
        {% endif %}
        span.text-muted {{profile.title}}
    .panel.panel-default
      .panel-body.text-center
        ul.nav.nav-tabs.nav-stacked(role="tablist", style="border: none !important;")
          li(role="presentation")
            a(href="/member/{{profile.login_name}}") About Me
          {% if current_user == profile or current_user.is_staff  %}
          li(role="presentation")
            a(href="/member/{{profile.login_name}}/change-account") Account
          {% endif %}
          if current_user == profile
            li(role="presentation")
              a(href="/member/{{profile.login_name}}/settings") Settings
  .col-sm-8
    {% block profile_content %}
    .panel.panel-default
      .panel-heading About Me
        {% if current_user == profile or current_user.is_staff %}
        a(href="#")
          span.glyphicon.glyphicon-cog.float-right#about-me-cog-icon
        {% endif %}
      .panel-body
        #user-profile-about-me!= profile.about_me
    {% endblock %}
{% endblock %}

{% block header %}
link(href='/static/assets/quill/quill.base.css', rel='stylesheet')
link(href='/static/assets/quill/quill.snow.css', rel='stylesheet')
{% endblock %}

{% block script %}
script(src="/static/assets/quill/quill.js")
script(src="/static/local/js/inline-editor.js")
script(type="text/javascript")
  $(document).ready(function(){
    $("#about-me-cog-icon").click(function(e) {
      e.preventDefault();
      var editor = new InlineEditor("#user-profile-about-me", "/member/{{profile.login_name}}/edit-profile");
      editor.onSave(function (html) {
        $.post("/member/{{profile.login_name}}/edit-profile", {"about_me": html},function(data) {
          $("#user-profile-about-me").html(data.about_me);
          editor.destroyEditor();
        });
      });
      editor.onCancel(function (html) {
        editor.destroyEditor()
        editor.resetElementHtml();
      });
    });
  });
{% endblock %}