{% extends "base.jade" %}

{% block content %}
//- .row
//-   .div.popover(style="display:block;")
//-     h3.popover-title {{profile.display_name}}
//-     .popover-body
//-       .media-left(style="min-width:80px;")
//-         a(href="/member/{{profile.login_name}}/")
//-           img.profile-avatar(src="{{profile.get_avatar_url("60")}}", width="{{profile.avatar_60_x}}", height="{{profile.avatar_60_y}}")
//-       .media-body
//-         .row
//-           .col-xs-5
//-             b Group
//-           .col-xs-7
//-             span(style="color:#F88379;")
//-               strong Members
//-                 br
//-         .row
//-           .col-xs-5
//-             b Joined
//-           .col-xs-7 {{profile.joined|humanize_time("MMM D YYYY")}}
//-         .row
//-           .col-xs-5 
//-             b Last Seen
//-           .col-xs-7 {{profile.last_seen|humanize_time("MMM D YYYY")}}
//-         if profile.last_seen_at
//-           .row
//-             .col-xs-5
//-               b Last Seen At
//-             .col-xs-7 {{profile.last_seen_at}}
.row 
  .col-sm-4
    ul.list-group
      li.list-group-item.section-header.category-section-header {{profile.display_name}}'s Profile
        {% if current_user == profile or current_user.is_admin %}
        a(href="/member/{{profile.login_name}}/change-avatar-title")
          span.glyphicon.glyphicon-cog.float-right
        {% endif %}
      li.list-group-item
        center
          {% if profile.avatar_extension != "" %}
          img.center-block.profile-page-avatar.profile-avatar(src="{{profile.get_avatar_url()}}", width="{{profile.avatar_full_x}}", height="{{profile.avatar_full_y}}")
          {% else %}
          img.center-block.profile-page-avatar.profile-avatar(src="", width="200px", height="200px")
          {% endif %}
          span.text-muted= profile.title
          for role in profile.roles
            br
            span
              strong
                | {{role.pre_html+role.role+role.post_html}}
          if current_user.is_authenticated() and current_user.is_admin and not profile.validated
            center
              a.btn.btn-warning.post-link(href="/member/{{profile.login_name}}/validate-user") Validate User
              br
              br
          if current_user.is_authenticated() and current_user != profile and current_user not in profile.ignored_users
            center
              br
              .btn-group
                if current_user not in profile.followed_by()
                  a.btn.btn-default.post-link(href="/member/{{profile.login_name}}/toggle-follow") Follow
                else
                  a.btn.btn-default.post-link(href="/member/{{profile.login_name}}/toggle-follow") Unfollow
                if not current_user in profile.rejected_friends
                  if current_user not in pending_friends and current_user not in friends
                    a.btn.btn-default.post-link(href="/member/{{profile.login_name}}/request-friend") Friend Request
                  else
                    a.btn.btn-default.post-link(href="/member/{{profile.login_name}}/un-friend") Unfriend
                if profile not in current_user.ignored_users
                  a.btn.btn-default.post-link(href="/member/{{profile.login_name}}/toggle-ignore") Ignore
                else
                  a.btn.btn-default.post-link(href="/member/{{profile.login_name}}/toggle-ignore") Unignore
          br
    ul.list-group
      li.list-group-item.section-header.category-section-header {{profile.display_name}}'s Stats
      li.list-group-item
        br
        .row
          .col-xs-6.col-sm-4
            strong Topics Created
          .col-xs-6.col-sm-2 {{topic_count}}
          .col-xs-6.col-sm-4
            strong Post Count
          .col-xs-6.col-sm-2 {{post_count}}
        br
        .row
          .col-xs-6.col-sm-4
            strong Boops Given
          .col-xs-6.col-sm-2 {{boops_given}}
          .col-xs-6.col-sm-4
            strong Boops Received
          .col-xs-6.col-sm-2 {{boops_received}}
        br
        .row
          .col-xs-6.col-sm-4
            strong Status Updates
          .col-xs-6.col-sm-2 {{status_update_count}}
          .col-xs-6.col-sm-4
            strong Status Comments
          .col-xs-6.col-sm-2 {{status_update_comments_count}}
        br
        if favorite_phrase
          .row
            .col-sm-4
              strong Favorite Phrase
            .col-sm-8
              {{favorite_phrase}}
          br
        if common_emotes
          .row
            .col-sm-4
              strong Common Emotes
            .col-sm-8
              for emote in common_emotes
                span {{emote}}
                | &nbsp;
                if loop.index == 3
                  br
          br
    ul.list-group
      li.list-group-item
        ul.nav.nav-tabs.nav-stacked(role="tablist", style="border: none !important;")
          {% if current_user.is_mod or current_user.is_admin  %}
          li(role="presentation")
            a(href="/member/{{profile.login_name}}/mod-panel") Moderation
          {% endif %}
          li(role="presentation")
            a(href="/member/{{profile.login_name}}") About Me
          {% if current_user == profile or current_user.is_admin  %}
          li(role="presentation")
            a(href="/member/{{profile.login_name}}/change-account") Account
          {% endif %}
          if current_user == profile or current_user.is_admin
            li(role="presentation")
              a(href="/member/{{profile.login_name}}/change-settings") Settings
  .col-sm-8
    {% block profile_content %}
    ul.list-group
      li.list-group-item.section-header About Me
        {% if current_user == profile or current_user.is_admin %}
        a(href="")
          span.glyphicon.glyphicon-cog.float-right#about-me-cog-icon
        {% endif %}
      li.list-group-item(style="min-height: 245px;")
        if profile.about_me == "<br>" or profile.about_me == "<div></div>"
          #user-profile-about-me.post-content
            p {{profile.display_name|e}} doesn't have an about me...
        else
          #user-profile-about-me.post-content!= profile.about_me
    {% endblock %}
{% endblock %}

{% block script %}
{% assets filters="rjsmin", output="generated/editor.js",
"assets/quill/quill.js", "assets/dropzone/dropzone.js", 
"assets/select2/select2.full.js", "local/js/inline-editor.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}
script(type="text/javascript").
  $(document).ready(function(){
    {% if current_user.is_authenticated() %}
    $("#about-me-cog-icon").click(function(e) {
      e.preventDefault();
      var editor = new InlineEditor("#user-profile-about-me", "/member/{{profile.login_name}}/edit-profile", true);
      editor.setElementHtml($("#user-profile-about-me").html());
      editor.onSave(function (html) {
        $.post("/member/{{profile.login_name}}/edit-profile", {"about_me": html},function(data) {
          $("#user-profile-about-me").html(data.about_me);
          editor.destroyEditor();
        });
      });
      editor.onCancel(function (html) {
        editor.destroyEditor()
        editor.resetElementHtml();
      });
    });
    window.setupContent()
    {% endif %}
  });
{% endblock %}
