{% extends "base.jade" %}

{% block content %}
.row
  .col-lg-6.col-md-6.col-sm-12
    ul.list-group.category
      li.list-group-item.section-header Sign In
      li.list-group-item
        {% if form.redirect_to.data != "/" %}
        p.text-warning Please sign in to access "{{form.redirect_to.data}}".
        {% endif %}
        form(action="/sign-in", method="post")
          {{ form_errors(form) }}
          .form-group
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
          .form-group
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
          .form-group
            label
              {{ form.anonymouse() }}&nbsp;&nbsp;Anonymous login?
          {{ form.redirect_to(class="form-control") }}
          button(type="submit").btn.btn-default Submit
          &nbsp;&nbsp;&nbsp;
          a(href="/forgot-password") Forgot Your Password?
          br
  .col-lg-6.col-md-6.col-sm-12
    ul.list-group.category
      li.list-group-item.section-header Welcome Back!
      li.list-group-item
        center
          h2 <strong style="color: purple;">Hi, welcome back!</strong>
        br
        for text in flavor_text
          p= text
        p I'm just kidding! But, it really is nice that you're here. If you're not a member yet, then <a href="/register">click here to visit the registration page</a> to read about the site and sign up.
        p By the way, you can select "anonymous login" to hide yourself from the active member list. (It's helpful if you're shy.)
        
{% endblock %}

{% block script %}
{% assets filters="rjsmin", output="generated/sign-in.js",
"local/js/sign-in.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}
script(type="text/javascript").
  $(document).ready(function(){
    $("#sign-in-li").addClass("active");
  });
{% endblock %}
