{% extends "base.jade" %}

{% block content %}
.row
  .col-lg-6.col-md-6.col-sm-8
    h2 Sign In
    {% if form.redirect_to.data != "/" %}
    p.text-warning Please sign in to access "{{form.redirect_to.data}}".
    {% endif %}
    form(action="/sign-in", method="post")
      {{ form_errors(form) }}
      .form-group
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
      .form-group
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
      .form-group
        label
          {{ form.anonymouse() }}&nbsp;&nbsp;Anonymous login?
      {{ form.redirect_to(class="form-control") }}
      button(type="submit").btn.btn-default Submit
      &nbsp;&nbsp;&nbsp;
      a(href="/forgot-password") Forgot Your Password?
{% endblock %}

{% block script %}
{% assets filters="rjsmin", output="generated/sign-in.js",
"local/js/sign-in.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}
script(type="text/javascript").
  $(document).ready(function(){
    $("#sign-in-li").addClass("active");
  });
{% endblock %}