{% extends "base.jade" %}

{% block content %}
#confirm-hide-modal.modal.fade
  test
.row
  .col-md-8
    ul.list-group.category
      li.list-group-item.section-header.sidebar-status-section(style="font-size: 14px;")
        span#status-status
        .btn-group(style="float: right;")
          a.btn.btn-xs.btn-default.report-button(data-pk=status.id, data-type="status")
            span.glyphicon.glyphicon-exclamation-sign
          {% if mod == True %}
          {% if status.hidden %}
          a.btn.btn-xs.btn-default.post-link(href="/status/{{status.id}}/toggle-hidden") Show
          {% else %}
          a.btn.btn-xs.btn-default.post-link(href="/status/{{status.id}}/toggle-hidden") Hide
          {% endif %}
          {% endif %}
          {% if mod == True %}
          {% if status.locked %}
          a.btn.btn-xs.btn-default.post-link(href="/status/{{status.id}}/toggle-lock") Unlock
          {% else %}
          a.btn.btn-xs.btn-default.post-link(href="/status/{{status.id}}/toggle-lock") Lock
          {% endif %}
          {% endif %}
          {% if current_user == status.author %}
          {% if status.muted %}
          a.btn.btn-xs.btn-default.post-link(href="/status/{{status.id}}/toggle-mute") Unmute
          {% else %}
          a.btn.btn-xs.btn-default.post-link(href="/status/{{status.id}}/toggle-mute") Mute
          {% endif %}
          {% endif %}
          {% if current_user in status.ignoring or not current_user in status.participants %}
          a.btn.btn-xs.btn-default.post-link(href="/status/{{status.id}}/toggle-ignore") Follow
          {% else %}
          a.btn.btn-xs.btn-default.post-link(href="/status/{{status.id}}/toggle-ignore") Ignore
          {% endif %}
      li.list-group-item.front-page-status#status(data-id="{{status.id}}", data-author-id="{{status.author_id}}", data-mod="{{mod}}", data-locked="{{status.locked}}")
        .media-left
          img(src="{{ status.author.get_avatar_url("40") }}", width="{{status.author.avatar_40_x}}", height="{{status.author.avatar_40_y}}")
        .media-body
          p
            a.hover_user(href="/member/{{ status.author.login_name }}") {{ status.author.display_name }}
            span &nbsp;says
              if status.attached_to_user
                | &nbsp;to 
                a.hover_user(href="{{url_for('view_profile', login_name=status.attached_to_user.login_name)}}") {{ status.attached_to_user.display_name }}
                |:
            span.status-time {{ status.created|humanize_time }} 
          if current_user.is_admin
            a.float-right(href="/admin/statusupdate/edit/?id={{status.id}}", target="_blank")
              span.glyphicon.glyphicon-cog
          p {{status.message}}
      li.list-group-item.status-replies#status-replies
      li.list-group-item.status-reply-form
        form.form-inline
          .form-group.status-reply-box
            input.form-control#status-reply(type="text", maxlength="250", autocomplete="off")
          button#submit-reply.btn.btn-default(type="submit") Reply
          &nbsp;
          span#status-comment-count
          
  .col-md-4
    ul.list-group.category
      li.list-group-item.section-header(style="font-size: 14px;") Participants
        for participant in status.participants
          li.list-group-item
            .media-left
              a(href="{{url_for('view_profile', login_name=participant.login_name)}}")
                img.media-object(src="{{ participant.get_avatar_url("40") }}", width="{{ participant.avatar_40_x }}", height="{{ participant.avatar_40_y }}", class="avatar-mini")
            .media-body
              a.hover_user(href="{{url_for('view_profile', login_name=participant.login_name)}}")= participant.display_name
              if current_user == participant:
                br
              elif current_user != participant and (mod == True) and not status.attached_to_user:
                if not participant in status.blocked():
                  br
                  a.inherit_colors.post-link(href="/status/{{status.id}}/toggle-silence/{{participant.id}}") (Silence)
                else
                  br
                  a.inherit_colors.post-link(href="/status/{{status.id}}/toggle-silence/{{participant.id}}") (Permit)
    ul.list-group.category
      li.list-group-item.section-header(style="font-size: 14px;") New Status Update
      li.list-group-item
        form.form-group.status-reply-box
          input.form-control#status-new(type="text", maxlength="250", autocomplete="off")
          br
          button#new-status.btn.btn-default(type="submit") Create

{% endblock %}

{% block script %}

{% assets filters="rjsmin", output="generated/single-status-update.js",
"local/js/status-updates.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}
{% endblock %}
