{% extends "base.jade" %}

{% block content %}
.row
  .col-md-8
    ul.list-group.category
      li.list-group-item.section-header.sidebar-status-section(style="font-size: 14px;")
        span#status-status
        
        .btn-group(style="float: right;")
          {% if mod == True %}
          button(type="button").btn.btn-default.btn-xs#hide-button Hide
          {% endif %}
          {% if mod == True %}
          button(type="button").btn.btn-default.btn-xs#lock-button Lock
          {% endif %}
          {% if current_user == status.author %}
          button(type="button").btn.btn-default.btn-xs#mute-button Mute
          {% endif %}
          {% if current_user in status.ignoring %}
          button(type="button").btn.btn-default.btn-xs#subscribe-button Follow
          {% else %}
          button(type="button").btn.btn-default.btn-xs#subscribe-button Ignore
          {% endif %}
      li.list-group-item.front-page-status#status(data-id="{{status.id}}", data-author-id="{{status.author_id}}", data-mod="{{mod}}")
        img(src="{{ status.author.get_avatar_url("40") }}", width="{{status.author.avatar_40_x}}", height="{{status.author.avatar_40_y}}")
        p
          a(href="#") {{ status.author.display_name }}
          span &nbsp;says:
          span.status-time {{ status.created }} 
        p {{ status.message }}
      li.list-group-item.status-replies#status-replies
      li.list-group-item.status-reply-form
        form.form-inline
          .form-group.status-reply-box
            input.form-control#status-reply(type="text")
          button#submit-reply.btn.btn-default(type="submit") Reply
          &nbsp;
          span#status-comment-count
          
  .col-md-4
    ul.list-group.category
      li.list-group-item.section-header(style="font-size: 14px;") New Status Update
      li.list-group-item
        form.form-group.status-reply-box
          input.form-control#status-new(type="text")
        button#new-status.btn.btn-default(type="submit") Create
    
    ul.list-group.category
      li.list-group-item.section-header(style="font-size: 14px;") Participants
{% endblock %}

{% block script %}
script(src="/static/assets/handlebars.min.js")
script(src="/static/local/js/status-updates.js")
{% endblock %}