{% extends "base.jade" %}

{% block content %}
.row
  .col-xs-12.col-sm-8.col-md-6
    ul.list-group
      li.list-group-item.section-header Unsubscribe from Everything
      li.list-group-item
        p Hello {{profile.display_name}}, you can use 
          | this form to unsubscribe from all site announcements and 
          | other notifications. Keep in mind that you may miss important
          | information by doing this, and a better way to control your
          | emails would be to adjust your site preferences.
        p If you still want to unsubscribe from all emails, then 
          | use the link below.
        a.btn.btn-default.btn-warning.post-link(href="/member/{{profile.id}}/{{profile.email_address}}/unsubscribe") Unsubscribe
{% endblock %}
