{% extends "base.jade" %}

{% block content %}
.row
  .col-lg-6.col-md-6.col-sm-8
    ul.list-group
      li.list-group-item.section-header Welcome to World of Equestria, {{profile.display_name}}!
      li.list-group-item
        p Your registration has been received and is presently awaiting staff approval - this usually doesn't take very long, but if you've caught us while we're dreaming the night away it may take a moment or two... apologies in advance, if that is the case!
        p Please take this time to <a href="/t/community-rules-and-terms">review our rules here</a>, and perhaps look over some of our <a href="/category/frequently-asked-questions">Frequently Asked Questions here</a>. Browsing the forum a little bit before you get started with posting would be wise as well.
        p With that said, thank you for registering - you'll receive one more email when your account is approved and ready for use. We look forward to getting to know you!
{% endblock %}

