{% extends "profile.jade" %}

{% block profile_content %}
.panel.panel-default
  .panel-heading Moderation Panel
  .panel-body
    h3 Recent IP Address
    ul
      for ip in recent_ips
        li {{ip.ip_address}} - <i>Last Seen: {{ip.last_seen|humanize_time}}</i>
    h3 Recent Fingerprints
    ul
      for fingerprint in recent_fingerprints
        li {{fingerprint.fingerprint_hash}} - <i>Last Seen: {{fingerprint.last_seen|humanize_time}}</i><br><br>
          if top_fingerprint_matches[fingerprint.fingerprint_hash]
            ul
              for top_match in top_fingerprint_matches[fingerprint.fingerprint_hash]
                li <strong><span class="{% if top_match[2] >= 90 %}text-danger{% endif %}{% if top_match[2] > 80 and top_match[2] < 90%}text-warning{% endif %}">{{top_match[0].login_name}} - {{top_match[2]}}%</span></strong><br>{{top_match[1]}}<br><br>
          else
            ul
              li Nothing close.
{% endblock %}

{% block script %}
{% endblock %}