{% extends "profile.jade" %}

{% block profile_content %}
ul.list-group
  li.list-group-item.section-header Create a New Signature
  li.list-group-item
    p Your signature can be up to 150px tall. Please don't upload super sized images, we will delete your sig and remove your ability to use signatures if you do this. If you have any questions, ask Zoop.
    form#new-signature-form(method="post", action="/member/{{profile.login_name}}/new-signature")
      {{ form_errors(form) }}
      .form-group
        {{ form.name.label(class="control-label") }}
        {{ form.name(class="form-control") }}
      .form-group
        {{ form.signature.label(class="control-label") }}
        #sig-html!= form.signature.data
        {{ form.signature }}
      .form-group
        {{ form.active.label(class="control-label") }}
        {{ form.active(class="form-control") }}
      .form-group
        button#commit-edit(type="submit").btn.btn-default Submit
        &nbsp;
        &nbsp;
        a#cancel-edit(href="/member/{{profile.login_name}}/signatures").btn.btn-default Cancel
{% endblock %}

{% block profile_sidebar %}
{% endblock %}

{% block script %}
{% assets filters="rjsmin", output="generated/edit_signature.js",
"assets/quill2/quill.js", "assets/dropzone/dropzone.js", 
"assets/select2/select2.full.js", "local/js/inline-editor.js" ,
"local/js/new-signatures.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}
script(type="text/javascript").
  $(document).ready(function(){  
  
  });
{% endblock %}
