{% extends "profile.jade" %}

{% block profile_content %}
ul.list-group
  if current_user == profile
    li.list-group-item.section-header Your Signatures
  else
    li.list-group-item.section-header {{profile.display_name}}'s Signatures
  if not signatures
    li.list-group-item
      if current_user == profile
        b You have no signatures. Would you like to create one?
        br
        br
        a.btn.btn-default.btn-primary(href="/member/{{profile.my_url}}/new-signature") Create a Signature
      else
        b {{profile.display_name}} has no signatures.
  else
    if current_user == profile
      li.list-group-item
        a.btn.btn-default.btn-primary(href="/member/{{profile.my_url}}/new-signature") Create a Signature
    for signature in signatures
      li.list-group-item.section-header(style="margin-top: 10px;")= signature.name
      li.list-group-item
        div!= signature.parsed
        if current_user == profile
          center
            br
            if signature.active
              a.btn.btn-default.btn-xs.btn-primary.post-link(href="/member/{{profile.my_url}}/toggle-active-signature/{{signature.id}}") Make Inactive
            else
              a.btn.btn-default.btn-xs.post-link(href="/member/{{profile.my_url}}/toggle-active-signature/{{signature.id}}") Make Active
            a.btn.btn-default.btn-xs(href="/member/{{profile.my_url}}/edit-signature/{{signature.id}}") Edit
            a.btn.btn-default.btn-xs.post-link(href="/member/{{profile.my_url}}/delete-signature/{{signature.id}}") Delete
{% endblock %}

{% block profile_sidebar %}
{% endblock %}
