body {
    background: #B2C0E0;
}

.site-background {
    height: 100px;
    background: #B2C0E0;
}

.section-header {
    background-color: #5452A2;
    background: #5452A2;
    color: white;
}

.panel-heading {
    background: #5452A2;
}

.popover-title {
    background: #5452A2 !important;
}

.toggle-show-roles-button {
    background: #5452A2;
}
