{% extends "base.jade" %}

{% block content %}
.row
  #temporary-buffer(style="display: none;")
  .col-sm-12
    ul.list-group
      li.list-group-item.section-header#filtering-header
        span Filtering
      li.list-group-item.hidden-md.hidden-lg.hidden-sm
        form.display-form
          .form-group.form-group-sm
            label.control-label Display 
            select.form-control.how-many
              option(value="15", selected) 15
              option(value="30") 30
              option(value="60") 60
        form.author-form
          .form-group.form-group-sm
            label.control-label Author
            select.form-control.by-who.author(multiple="multiple")
        form.search-form
          .form-group.form-group-sm
            label.control-label Search
            input.form-control.search-for
          button.btn.btn-default.update-statuses(type="submit") Update
      .form-container
        li.list-group-item.hidden-xs
          form.form-inline.display-form
            .form-group.form-group-sm
              label.control-label Display 
              select.form-control.how-many
                option(value="15", selected) 15
                option(value="30") 30
                option(value="60") 60
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
            .form-group.form-group-sm
              label.control-label Author
              select.form-control.by-who-two.author(multiple="multiple", style="width: 200px")
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
            .form-group.form-group-sm
              label.control-label Search
              input.form-control.search-for 
            button.btn.btn-default.update-statuses(type="submit") Update
            &nbsp;
            a.btn.btn-default.post-link(href="/clear-status-updates") Clear
  .col-sm-12
    ul.list-group
      li.list-group-item.section-header
        span Status Updates
      li.list-group-item.body-background#msg-container
      li.list-group-item.body-background#status-container
        {% for status in status_updates %}
        .col-md-4.col-sm-6.status-index-panel
          ul.list-group
            li.list-group-item
              .media-left
                a(href="{{url_for('view_profile', login_name=status.author.my_url)}}")
                  img.media-object(src="{{ status.author.get_avatar_url("60") }}", width="{{status.author.avatar_60_x}}px", height="{{status.author.avatar_60_y}}px", class="avatar-mini")
              .media-body
                a.hover_user(href="{{url_for('view_profile', login_name=status.author.my_url)}}")= status.author.display_name
                if status.attached_to_user != None
                  span &nbsp;said to <a class="hover_user" href="{{url_for('view_profile', login_name=status.attached_to_user.my_url)}}">{{status.attached_to_user.display_name|e}}</a>:
                else
                  span &nbsp;said:
                span.discuss 
                  a.status-reply-time.float-right(href="/status/{{status.id}}") Discuss{% if status.get_comment_count() %} ({{status.get_comment_count()}}) {% endif %}
                br
                p.status-message {{status.message|cleaner}}
                span.status-reply-time 
                  a(href="/status/{{status.id}}") {{ status.created|humanize_time }}
        {% endfor %}

{% endblock %}

{% block script %}
script(type="text/javascript").
  $(document).ready(function(){ 
    window.count = {{count}};
    window.authors = JSON.parse('{{authors}}');
    window.search = '{{search}}';
  });


{% assets filters="rjsmin", output="generated/status-index.js",
"assets/jquery.shuffle.modernizr.js", "local/js/status-index.js", 
"assets/select2/select2.full.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}
{% endblock %}
