{% extends "base.jade" %}

{% block content %}
.breadcrumb#topic-breadcrumb
  li
    a(href="/") Home
  {% if category.parent != None and category.parent.root_category != True %}
  li.active 
    a(href="{{url_for('category_index', slug=category.parent.slug)}}") {{category.parent.name}}
  {% endif %}
  li.active 
    a(href="{{url_for('category_index', slug=category.slug)}}") {{category.name}}
  li.active
    b
      a(href="{{url_for('new_topic', slug=category.slug)}}") New Topic
.row
  .col-md-12
    h2 Create a Topic
    form#new-topic-form(method="post", data-slug="{{category.slug}}")
      .row
        .col-md-8
          .row
            .form-group.col-md-8
              label(for="title") Title
              input.form-control#title(value="")
          if category.allowed_prefixes
            .row
              .form-group.col-md-6
                label(for="title") Prefix
                select#prefix.form-control
                  for prefix in category.allowed_prefixes
                    option(value="{{prefix}}") {{prefix}}
          .row
            .form-group.col-md-12
              #new-post-box
nav.pagination-listing
{% endblock %}

{% block header %}
link(href='/static/assets/quill/quill.base.css', rel='stylesheet')
link(href='/static/assets/quill/quill.snow.css', rel='stylesheet')
link(href='/static/assets/dropzone/dropzone.css', rel='stylesheet')
{% endblock %}

{% block script %}
script(src="/static/assets/handlebars.min.js")
{% assets filters="rjsmin", output="generated/editor.js",
"assets/quill/quill.js", "assets/dropzone/dropzone.js", "local/js/inline-editor.js" %}
script(type="text/javascript", src="{{ASSET_URL}}")
{% endassets %}
script(type="text/javascript")
  $(document).ready(function(){  
  
  });
{% assets filters="rjsmin", output="generated/new-topic.js",
"local/js/new-topic.js" %}
script(type="text/javascript", src="{{ASSET_URL}}")
{% endassets %}
{% endblock %}
