{% extends "base.jade" %}

{% block content %}
.row
  .col-md-12
    ul.list-group
      li.list-group-item.section-header
        ul.breadcrumb#topic-breadcrumb
          li
            a(href="/") Home
          li 
            a(href="/blogs") Blogs
          li
            a(href="/blog/{{blog.slug}}")= blog.name
          li
            a(href="/blog/{{blog.slug}}/e/{{entry.slug}}")= entry.title
          li.active
            a(href="/blog/{{blog.slug}}/e/{{entry.slug}}/edit-entry") Edit Entry
.row
  .col-md-12
    ul.list-group.category
      li.list-group-item
        h3 Edit a Blog Entry
        form#new-blog-entry-form(method="post", action="/blog/{{blog.slug}}/e/{{entry.slug}}/edit-entry")
          {{ form_errors(form) }}
          .form-group
            {{ form.title.label(class="control-label") }}
            {{ form.title(class="form-control") }}
          .form-group
            {{ form.entry.label(class="control-label") }}
            #blog-entry!= form.entry.data
            {{ form.entry }}
          .form-group
            {{ form.draft.label(class="control-label") }}
            {{ form.draft(class="form-control") }}
          .form-group
            button#commit-edit(type="submit").btn.btn-default Submit
            &nbsp;
            &nbsp;
            a#cancel-edit(href="/blogs").btn.btn-default Cancel
{% endblock %}

{% block script %}
{% assets filters="rjsmin", output="generated/edit_blog_entry.js",
"assets/quill2/quill.js", "assets/dropzone/dropzone.js", 
"assets/select2/select2.full.js", "local/js/inline-editor.js" ,
"local/js/edit-blog-entry.js" %}
script(type="text/javascript", src="{{ASSET_URL}}").
{% endassets %}
script(type="text/javascript").
  $(document).ready(function(){  
  
  });
{% endblock %}
