@font-face {
    font-family: 'pt_sansregular';
    src: url('/static/assets/webfont/ptsans_regular/PTS55F-webfont.eot');
    src: url('/static/assets/webfont/ptsans_regular/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/ptsans_regular/PTS55F-webfont.woff') format('woff'),
         url('/static/assets/webfont/ptsans_regular/PTS55F-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/ptsans_regular/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansregular';
    src: url('/static/assets/webfont/ptsans_bold/PTS75F-webfont.eot');
    src: url('/static/assets/webfont/ptsans_bold/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/ptsans_bold/PTS75F-webfont.woff') format('woff'),
         url('/static/assets/webfont/ptsans_bold/PTS75F-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/ptsans_bold/PTS75F-webfont.svg#pt_sansregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansregular';
    src: url('/static/assets/webfont/ptsans_italic/PTS56F-webfont.eot');
    src: url('/static/assets/webfont/ptsans_italic/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/ptsans_italic/PTS56F-webfont.woff') format('woff'),
         url('/static/assets/webfont/ptsans_italic/PTS56F-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/ptsans_italic/PTS56F-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'pt_sansregular';
    src: url('/static/assets/webfont/ptsans_bolditalic/PTS76F-webfont.eot');
    src: url('/static/assets/webfont/ptsans_bolditalic/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/ptsans_bolditalic/PTS76F-webfont.woff') format('woff'),
         url('/static/assets/webfont/ptsans_bolditalic/PTS76F-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/ptsans_bolditalic/PTS76F-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'pt_sanscaption';
    src: url('/static/assets/webfont/ptsanscaption_regular/PTC55F-webfont.eot');
    src: url('/static/assets/webfont/ptsanscaption_regular/PTC55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/ptsanscaption_regular/PTC55F-webfont.woff') format('woff'),
         url('/static/assets/webfont/ptsanscaption_regular/PTC55F-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/ptsanscaption_regular/PTC55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sanscaption';
    src: url('/static/assets/webfont/ptsanscaption_bold/PTC75F-webfont.eot');
    src: url('/static/assets/webfont/ptsanscaption_bold/PTC75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/ptsanscaption_bold/PTC75F-webfont.woff') format('woff'),
         url('/static/assets/webfont/ptsanscaption_bold/PTC75F-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/ptsanscaption_bold/PTC75F-webfont.svg#pt_sansregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sanscaption';
    src: url('/static/assets/webfont/ptsanscaption_italic/PTC56F-webfont.eot');
    src: url('/static/assets/webfont/ptsanscaption_italic/PTC56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/ptsanscaption_italic/PTC56F-webfont.woff') format('woff'),
         url('/static/assets/webfont/ptsanscaption_italic/PTC56F-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/ptsanscaption_italic/PTC56F-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'pt_sanscaption';
    src: url('/static/assets/webfont/ptsanscaption_bolditalic/PTC76F-webfont.eot');
    src: url('/static/assets/webfont/ptsanscaption_bolditalic/PTC76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/ptsanscaption_bolditalic/PTC76F-webfont.woff') format('woff'),
         url('/static/assets/webfont/ptsanscaption_bolditalic/PTC76F-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/ptsanscaption_bolditalic/PTC76F-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'caviar_dreams';
    src: url('/static/assets/webfont/caviar/caviardreams_regular_macroman/CaviarDreams-webfont.eot');
    src: url('/static/assets/webfont/caviar/caviardreams_regular_macroman/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/caviar/caviardreams_regular_macroman/CaviarDreams-webfont.woff') format('woff'),
         url('/static/assets/webfont/caviar/caviardreams_regular_macroman/CaviarDreams-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/caviar/caviardreams_regular_macroman/CaviarDreams-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'caviar_dreams';
    src: url('/static/assets/webfont/caviar/caviardreams_bold_macroman/Caviar_Dreams_Bold-webfont.eot');
    src: url('/static/assets/webfont/caviar/caviardreams_bold_macroman/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/caviar/caviardreams_bold_macroman/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('/static/assets/webfont/caviar/caviardreams_bold_macroman/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/caviar/caviardreams_bold_macroman/Caviar_Dreams_Bold-webfont.svg#pt_sansregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'caviar_dreams';
    src: url('/static/assets/webfont/caviar/caviardreams_italic_macroman/CaviarDreams_Italic-webfont.eot');
    src: url('/static/assets/webfont/caviar/caviardreams_italic_macroman/CaviarDreams_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/caviar/caviardreams_italic_macroman/CaviarDreams_Italic-webfont.woff') format('woff'),
         url('/static/assets/webfont/caviar/caviardreams_italic_macroman/CaviarDreams_Italic-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/caviar/caviardreams_italic_macroman/CaviarDreams_Italic-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'caviar_dreams';
    src: url('/static/assets/webfont/caviar/caviardreams_bolditalic_macroman/CaviarDreams_BoldItalic-webfont.eot');
    src: url('/static/assets/webfont/caviar/caviardreams_bolditalic_macroman/CaviarDreams_BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/caviar/caviardreams_bolditalic_macroman/CaviarDreams_BoldItalic-webfont.woff') format('woff'),
         url('/static/assets/webfont/caviar/caviardreams_bolditalic_macroman/CaviarDreams_BoldItalic-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/caviar/caviardreams_bolditalic_macroman/CaviarDreams_BoldItalic-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'droid_sans_monoregular';
    src: url('/static/assets/webfont/droidsansmono_regular_macroman/DroidSansMono-webfont.eot');
    src: url('/static/assets/webfont/droidsansmono_regular_macroman/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/droidsansmono_regular_macroman/DroidSansMono-webfont.woff') format('woff'),
         url('/static/assets/webfont/droidsansmono_regular_macroman/DroidSansMono-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/droidsansmono_regular_macroman/DroidSansMono-webfont.svg#droid_sans_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'comic_reliefregular';
    src: url('/static/assets/webfont/comicrelief_regular_macroman/ComicRelief-webfont.eot');
    src: url('/static/assets/webfont/comicrelief_regular_macroman/ComicRelief-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/comicrelief_regular_macroman/ComicRelief-webfont.woff') format('woff'),
         url('/static/assets/webfont/comicrelief_regular_macroman/ComicRelief-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/comicrelief_regular_macroman/ComicRelief-webfont.svg#comic_reliefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'monterrey';
    src: url('/static/assets/webfont/monterrey/webfontkit-20150620-091638/monterrey-regular-webfont.eot');
    src: url('/static/assets/webfont/monterrey/webfontkit-20150620-091638/monterrey-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/monterrey/webfontkit-20150620-091638/monterrey-regular-webfont.woff') format('woff'),
         url('/static/assets/webfont/monterrey/webfontkit-20150620-091638/monterrey-regular-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/monterrey/webfontkit-20150620-091638/monterrey-regular-webfont.svg#comic_reliefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('/static/assets/webfont/opensans/opensans-regular-webfont.eot');
    src: url('/static/assets/webfont/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/opensans/opensans-regular-webfont.woff') format('woff'),
         url('/static/assets/webfont/opensans/opensans-regular-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/opensans/opensans-regular-webfont.svg#comic_reliefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('/static/assets/webfont/opensans/opensans-bold-webfont.eot');
    src: url('/static/assets/webfont/opensans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/opensans/opensans-bold-webfont.woff') format('woff'),
         url('/static/assets/webfont/opensans/opensans-bold-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/opensans/opensans-bold-webfont.svg#comic_reliefregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'opensans';
    src: url('/static/assets/webfont/opensans/opensans-italic-webfont.eot');
    src: url('/static/assets/webfont/opensans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/opensans/opensans-italic-webfont.woff') format('woff'),
         url('/static/assets/webfont/opensans/opensans-italic-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/opensans/opensans-italic-webfont.svg#comic_reliefregular') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'opensans';
    src: url('/static/assets/webfont/opensans/opensans-bolditalic-webfont.eot');
    src: url('/static/assets/webfont/opensans/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/webfont/opensans/opensans-bolditalic-webfont.woff') format('woff'),
         url('/static/assets/webfont/opensans/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('/static/assets/webfont/opensans/opensans-bolditalic-webfont.svg#comic_reliefregular') format('svg');
    font-weight: bold;
    font-style: italic;
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

body {
    font-family:'pt_sansregular',tahoma,helvetica,arial,sans-serif !important;
    background-size: cover !important;
}

a {
    color: #337ab7;
    -ms-word-break: break-all;
    /* Be VERY careful with this, breaks normal words wh_erever */
    word-break: break-all;
    /* Non standard for webkit */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.post-content a {
    color: #0670BB;
    overflow:hidden;
}

.btn-group, .btn-group-vertical {
  text-shadow:none;
}

.dropdown-menu {
    min-width: 300px !important;
    text-shadow: none; 
}

.badge.prefix {
    border-radius: 3px;
    size: 9px;
    text-transform: uppercase;
}

.badge {
  border-radius:2px;
}

.pagination-listing {
    text-align: center !important;
}
.breadcrumb {
   padding: 0px;
   margin-bottom: 0px;
   list-style: none;
   background: none;
   border-radius: 0px;
   float: left;
}

.breadcrumb a {
color:white;
}

.post-number a {
color:#777;
}

.topic-listing-time a {
color:#a4a4a4;
}

.list-group {
  margin-bottom: 10px;
}

.list-group-item {
    padding: 6px 15px;
    border: 1px solid #ddd;
    border-radius: 0px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.blog-description {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.list-group-item:first-child {
  border-radius:0px;
}

.panel-title {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.panel-heading {
  background: url("/static/local/themes/default/background.png");
  border-radius: 0px;
  color: white !important;
  text-shadow: #000 0px 1px 2px !important;
  background-attachment: fixed;
  box-shadow: rgba(0,0,0,0.8) 0px 1px 3px;
  font-weight: bold;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
.section-header {
  background-color: black;
  background: url("/static/local/themes/default/background.png");
  color: white;
  background-attachment: fixed;
  text-shadow: #000 0px 1px 2px !important;
  font-weight: bold;
  font-size: 13px !important;
  box-shadow: rgba(0,0,0,0.8) 0px 1px 3px;
  height: 30px;
  background-repeat: repeat-y;
  background-attachment:fixed;
  margin-bottom: 10px;
}

.section-header .btn-xs {
  margin-top: -3px;
}

.btn {
  border-radius: 0px;
}

.ql-snow.ql-toolbar .ql-picker.ql-font .ql-picker-label, .ql-snow.ql-toolbar .ql-picker.ql-size .ql-picker-label {
background-color: rgb(248, 248, 248);}
.ql-snow.ql-toolbar .ql-picker.ql-font .ql-picker-label, .ql-snow.ql-toolbar .ql-picker.ql-size .ql-picker-label {
background-color: rgb(248, 248, 248);}
.ql-snow.ql-toolbar .ql-format-button.ql-left, .ql-snow.ql-toolbar .ql-picker.ql-left .ql-picker-label, .ql-snow.ql-toolbar .ql-picker .ql-picker-label[data-value=left], .ql-snow.ql-toolbar .ql-picker .ql-picker-item[data-value=left] {
background-color: rgb(248, 248, 248);}
.ql-snow.ql-toolbar .ql-format-button.ql-background, .ql-snow.ql-toolbar .ql-picker.ql-background .ql-picker-label, .ql-snow.ql-toolbar .ql-picker .ql-picker-label[data-value=background], .ql-snow.ql-toolbar .ql-picker .ql-picker-item[data-value=background] {
background-color: rgb(248, 248, 248);}
.ql-snow.ql-toolbar .ql-format-button.ql-color, .ql-snow.ql-toolbar .ql-picker.ql-color .ql-picker-label, .ql-snow.ql-toolbar .ql-picker .ql-picker-label[data-value=color], .ql-snow.ql-toolbar .ql-picker .ql-picker-item[data-value=color] {
background-color: rgb(248, 248, 248);}

/* Profile Pages */

#profile-page-header {
  overflow: hidden;
}

.profile-avatar {
  margin-bottom: 10px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  padding: 1px;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
}

.image-box {
  margin-bottom: 10px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  padding: 1px;
  border: 1px solid #d5d5d5;
}

.click-to-play p {
  font-style: italic;
}

#profile-name {
  font-size: 30px;
  font-weight: 500;
  vertical-align: top !important;
}

/*  Private Messages */


/* Status Updates */
.status-reply-box {
    resize: horizontal;
    width: 80% !important;
}
.status-mod-controls {
    float: right;
    font-style: italic;
    font-size: 90%;
}
.status-reply-box input {
    resize: horizontal;
    width: 99% !important;
}

.status-reply-box input:active {
    width: auto;
}

.status-reply-box input:focus {
    min-width: 99% !important;
}

.status-time {
  font-style: italic;
  float: right;
}
.front-page-status {
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 14px;
}
.hover-status {
  /*border: 1px solid #d5d5d5;
  padding: 5px;
  margin: 5px;
  margin-right: 15px;*/
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.front-page-status p {
  overflow: hidden;
}
.front-page-status p.status-text {
  font-size: 90%;
}
.front-page-status .discuss {
  float: right;
}
.status-reply {
/*  margin-left: 30px;*/
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.status-reply hr {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.blog-entry {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow:hidden;
}
}
.status-reply img {
  margin-right: 10px;
}
.status-reply p {
  overflow: hidden;
}
.status-reply-time {
  font-style: italic;
  font-size: 10px;
}
.status-replies {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}

/* Subcategories */

.category .section-header {
  font-size: 120%;
}

.subcategory .section-header {
  font-size: 120%;
}
.subcategory-listing-name {
  font-weight: bold;
  vertical-align: middle;
  padding-top: 15px;
  font-size: 15px;
}
.subcategory-listing-recent-image {
  min-width: 48px;
  padding-right: 10px;
  float: left;
  min-height: 40px;
  min-width: 54px;
}
.subcategory-listing-recent {
  margin-top: 2px;
  float: left;
  font-size: 95%;
}

/* Post Listing */
.content-spoiler {
  border: 1px lightgray solid !important;
  margin: 0px 0px 10px 0px;
  padding: 10px;
  display: none;
}
.toggle-spoiler {
  margin-top: 10px;
  color: #fff !important;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: inherit !important;
  border: 1px solid #eee;
  background-color: #FAFBFF;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.attachment-image {
  max-width: 100%;
}

.inline-editor-buttons {
  margin-bottom: 10px;
}
.post-right img {
  max-width: 100%;
}
.parsed div img {
  max-width: 100%;
}
.fast-post-area {
  overflow: hidden;
}
.editor-box {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  width: 100% !important;
  overflow: scroll !important;
  border: 1px lightgray solid !important;
}
.post-left {
  background-color: #FCFFE0;
  width: 220px;
  margin-left: 10px;
  height: 100%;
}
.post-listing-info {
  background-color: #eee;
}
.post-member-avatar {
    margin-top:20px;
}
.post-member-self-title {
  color: #777;
  font-size: 12px;
}
.post-meta {
  padding-left: 10px;
  padding-right: 10px;
}
.post-number {
  float: right;
  font-size: 13px;
}
.post-edit-likes-info {
  margin-top: 20px;
}
.post-edited {
  color: gray;
  font-style: italic;
}
.post-edit-likes-info div {
  vertical-align: middle;
}
.post-likes {
  text-align: right;
}
.post-likes button {
  margin-left: 10px;
}
.topic-header {
  height: 44px;
  background-color: black;
  color: white;
}


/* Topic Listing */

.topic-listing {
}
.topic-listing-jumps {
  margin-left: 5px;
}
.topic-listing-jumps span.badge {
  font-size: 70%;
  border-radius: 3px !important;
}
.topic-listing-name {
}
.topic-listing-username {
  font-size: 95%;
  color: #444 !important;
}
.topic-listing-text {
  font-size: 95%;
  float: right;
}
.topic-listing-recent span.badge {
  font-size: 70%;
  vertical-align: top;
  margin-top: 2px;
  margin-right: 5px;
}
.topic-listing-time {
  font-size: 12px;
  color: #a4a4a4;
}
.topic-listing-recent-image {
  padding-right: 10px;
  float: left;
}
.topic-listing-recent {
  float: left;
}
span.topic-listing-name span.prefix {
  font-size: 10px;
  font-weight: normal;
  vertical-align: top;
  margin-top: 2px;
}
.topic-author {
  font-size: 12px;
  /* font-style: italic; */
  color: #a4a4a4;
}

.front-page-stats {
  margin-top: 40px;
  margin-bottom: 40px;
}

.search-box {
    resize: horizontal;
    width: 80% !important;
}

.search-box input {
    resize: horizontal;
    width: 99% !important;
}

.search-box input:active {
    width: auto;
}

.search-box input:focus {
    min-width: 99% !important;
}

.hideme {
    display: none;
}

/* Formatting */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.force-muted {
  color: #777 !important;
}

.dashboard-panel {
  min-width: 320px;
  max-width: 100%;
}

/* Hacks */

.bbc_center {
  text-align: center;
}

body {
  background: #A89898;
}

.post-content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.post-content img {
  max-width: 100%;
}

.href_span {
  cursor: pointer;
}

.emoticon-listing {
  cursor: pointer;
}

a.inherit_colors {
  color: inherit;
}

.status-message {
  font-size: 14px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.post-member-avatar {
  border: 1px solid #5452a28a;
  padding: 1px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.37);
}
.avatar-mini {
    border: 1px solid #5452a28a;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.37);
  padding: 1px;
  z-index: 5;
  vertical-align: middle;
  border-radius: 10px;
}
.popover {
  max-width: 100% !important;
  width: 350px !important;
  font-size: 13px;
  border-radius: 0px;
}
.popover-body {
  padding: 10px;
}
.popover-title {
  padding: 8px 14px !important;
  margin: 0 !important;
  font-size: 13px !important;
  background-color: #f7f7f7 !important;
  border-bottom: 1px solid #ebebeb !important;
  border-radius: 0 0 0 0 !important;
  background-image: url("/static/local/themes/default/background.png") !important;
  color: white !important;
  font-weight: bold !important;
  box-shadow: rgba(0,0,0,0.8) 0px 1px 3px inset !important;
  text-shadow: #000 0px 1px 2px !important;
  background-attachment: fixed !important;
  font-family: 'pt_sansregular',tahoma,helvetica,arial,sans-serif!important;
}

.ql-custom-button:hover {
  color: #06c !important;
}

.mini-notification-button {
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: 7px;
  margin-bottom: 0px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #777;
}

.notification-li {
  padding: 5px;
}

.notification-li a {
  max-width: 420px !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

.navbar {
  margin-bottom: 10px;
  border-radius: 0px;
}

.navbar-default .mini-notification-button {
  border-color: #ddd;
}

.toggle-show-roles-button {
  background-color: black;
  background: url("/static/local/themes/default/background.png");
  color: white;
  background-attachment: fixed;
  text-shadow: #000 0px 1px 2px !important;
  font-weight: bold;
  font-size: 12px !important;
  box-shadow: rgba(0,0,0,0.8) 0px 1px 3px inset;
}
.toggle-show-roles-button:hover {
  color: white !important;
}
.toggle-show-roles-button:active {
  color: white !important;
}
.toggle-show-roles-button:visited {
  color: white !important;
}
td {
  vertical-align: middle !important;
}

/* JSSOR ugly css */

.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url(/static/assets/b05.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

.jssora11l, .jssora11r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 37px;
    height: 37px;
    cursor: pointer;
    background: url(/static/assets/a11.png) no-repeat;
    overflow: hidden;
}
.jssora11l { background-position: -11px -41px; }
.jssora11r { background-position: -71px -41px; }
.jssora11l:hover { background-position: -131px -41px; }
.jssora11r:hover { background-position: -191px -41px; }
.jssora11l.jssora11ldn { background-position: -251px -41px; }
.jssora11r.jssora11rdn { background-position: -311px -41px; }

.image-wrap {
  float: left;
  margin: 0px 20px 20px 0px;
}

.btn {
  text-shadow: none;
}

.blog-title {
  font-size: 18px;
  /*font-weight: bold;*/
}

.blog-listing-info {
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top:8px;
  padding-bottom:5px;
}
.blog-read-more {
  font-size: 16px;
  font-weight: bold;
}
.panel {
  border-radius: 0px;
}
.post-signature {
  max-height: 250px;
  overflow: hidden;
}
.go-to-profile {
  cursor: pointer;
}
.dice-roll {
  font-size: 13px;
  font-weight: normal;
}
.active-dice-roll {
  background-color: #317873;
}
.inactive-dice-roll {
  background-color: #CB4154;
}
h1.breadcrumb-h1 {
  font-size: 13px !important;
  display: inline !important;
  margin: 0px !important;
  font-weight: bold !important;
}
.ql-align-center {
  text-align: center;
}
.ql-align-justify {
  text-align: justify;
}
.ql-align-right {
  text-align: right;
}

/* Quill Editor Font Customization CSS */

.ql-container {
  font-family: 'pt_sansregular', tahoma, helvetica, arial, sans-serif;
}
.ql-snow .ql-picker.ql-font .ql-picker-label::before,
.ql-snow .ql-picker.ql-font .ql-picker-item::before {
  content: 'Regular';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=caption]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=caption]::before {
  content: 'Caption';
}
.ql-editor .ql-font-caption {
  font-family: 'pt_sanscaption';
}
.ql-font-caption {
  font-family: 'pt_sanscaption';
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=caption]::before {
  font-family: 'pt_sanscaption';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=caviar]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=caviar]::before {
  content: 'Caviar';
}
.ql-editor .ql-font-caviar {
  font-family: 'caviar_dreams';
}
.ql-font-caviar {
  font-family: 'caviar_dreams';
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=caviar]::before {
  font-family: 'caviar_dreams';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=comic]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=comic]::before {
  content: 'Comic';
}
.ql-editor .ql-font-comic {
  font-family: 'comic_reliefregular';
}
.ql-font-comic {
  font-family: 'comic_reliefregular';
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=comic]::before {
  font-family: 'comic_reliefregular';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=monotype]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monotype]::before {
  content: 'Monotype';
}
.ql-editor .ql-font-monotype {
  font-family: 'droid_sans_monoregular';
}
.ql-font-monotype {
  font-family: 'droid_sans_monoregular';
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monotype]::before {
  font-family: 'droid_sans_monoregular';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=monterrey]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monterrey]::before {
  content: 'Monterrey';
}
.ql-editor .ql-font-monterrey {
  font-family: 'monterrey';
}
.ql-font-monterrey {
  font-family: 'monterrey';
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monterrey]::before {
  font-family: 'monterrey';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=opensans]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=opensans]::before {
  content: 'Open Sans';
}
.ql-editor .ql-font-opensans {
  font-family: 'opensans';
}
.ql-font-opensans {
  font-family: 'opensans';
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=opensans]::before {
  font-family: 'opensans';
}

.select2 .select2-container .select2-container--default .select2-container--below .select2-container--open {
  width: 200px !important;
}

.dashboard-panel-header {
    background-attachment: initial !important;
}

.text-hide-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.blog-description img {
  max-width: 100% !important;
}

.attached-status {
    background-color: rgb(235, 241, 255);
    padding-bottom:15px !important;
}
a
.join-us-link {
  color: blue !important;
}

[type="checkbox"] {
    width: initial;
}
 
.profile-page-avatar.profile-avatar {
    margin-top: 10px;
}
 
.profile-avatar {
    border-radius: 10px;
}
 
.avatar-mini {
    border: 1px solid #5452a28a;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.37);
    border-radius: 10px;
}
 
.post-member-avatar {
    border: 1px solid #5452a28a;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.37);
    border-radius: 15px;
}
 
form.form-group.status-reply-box {
    padding-top: 15px;
}
 
.media-body {
    vertical-align: middle;
}
 
.status-reply {
    padding-top: 10px;
}
 
.status-reply > .media-body > p >.hover_user {
    font-weight: bold;
}
 
li.list-group-item.status-reply-form > form.form-inline {
    padding-top: 10px;
}
 
.hover_user {
    font-weight: bold;
}
 
a {
    color: #337ab7;
}
 
a:hover {
    color:#834392 !important;
}
 
.attached-status {
    background-color: rgb(235, 241, 255);
    padding-bottom:15px !important;
}
 
li.list-group-item.front-page-status.sidebar-status-section {
    padding-top: 15px;
    padding-bottom: 10px;
}
 
li.list-group-item.subcategory.category-subcategories > div > div.row > div.col-sm-6.col-xs-8 > div.media-left {
    padding-top: 3px;
    padding-bottom: 3px;
}
 
li.list-group-item.front-page-status.sidebar-status-section > div.media-body > p.status-message {
    font-size: 13px;
    line-height: 1.1;
}
 
li#status.list-group-item.front-page-status {
    padding-top: 15px;
    padding-bottom: 0;
}
 
.status-reply > div.media-left.subcategory-listing-recent-image {
    padding-top: 4px;
}
 
div.col-md-4.col-sm-6.status-index-panel.shuffle-item.filtered > ul.list-group > li.list-group-item > div.media-left {
    padding-top: 4px;
}
 
/*div#search-results-buffer {
    min-height:284px;
    padding-top:11%;
    text-align:center;
}
*/ 
.post-content {
 
    margin-top:25px;
    min-height:108px;
}
.post-member-avatar {
    height:150px;
    width:150px;
    margin-top:20px;
}
 
#user-profile-about-me.post-content {
margin-bottom:25px;
overflow:hidden;
}
 
a:hover, a:focus {
    color: #ba88db;
    text-decoration: none;
}
 
li.list-group-item.post-listing-info > div.row > div.col-md-3.col-xs-8 > b > a.hover_user {
    width:100px;
    overflow:ellipsis;
}
 
.blog-listing-info {
    padding-top:8px;
    padding-bottom:5px;
}
 
.list-group-item.topic-listing {
    min-height:200px;
}
 
ul.list-group.category > li.list-group-item.topic-listing {
    padding-top:15px;
    padding-bottom:15px;
}
 
li.list-group-item.topic-listing > div.row > div.col-xs-3.hidden-xs.hidden-sm {
    padding-top:15px;
}
 
li.list-group-item.topic-listing > div.row > div.col-xs-6.col-sm-4.hidden-xs {
    padding-top:15px;
}
 
.topic-listing-username {
    font-size: 95%;
    color: #337ab7 !important;
}
 
ul.nav.navbar-nav {
    font-weight:bold;
}
 
.mini-notification-button {
    margin-top: 7px;
    margin-bottom: 0px;
}
 
 
 
img.go-to-profile.avatar-mini {
       box-shadow:none;
}
 
li#forum-li.active > a {
    max-height:48px !important;
}
 
a.dropdown-toggle.glyphicon.glyphicon-cog {
    padding-top: 13px !important;
    padding-bottom: 17px !important;
}
 
a.button.mini-notification-button.collapsed.hidden-xs {
    padding-top:8px;
}
 
li#dashboard-li.dropdown.hidden-xs > a.dropdown-toggle.notification-dropdown-toggle {
    padding-top: 12px;
    width:40px;
}
 
a.button.mini-notification-button.collapsed.hidden-sm.hidden-md.hidden-lg {
    height: 40px !important;
    width: 40px !important;
    min-height:40px;
    min-width:40px;
}
 
a.button.mini-notification-button.collapsed.hidden-sm.hidden-md.hidden-lg {
    width:40px;
    height:40px;
}
 
a.dropdown-toggle.glyphicon.glyphicon-cog.hidden-sm.hidden-md.hidden-lg.button.mini-notification-button {
    margin-top:6px;
    height:40px !important;
    width:40px !important;
 
}
 
a.button.mini-notification-button.collapsed.dropdown-toggle.notification-dropdown-toggle.hidden-sm.hidden-md.hidden-lg {
    margin-top:px;
    height:40px;
    width:40px;
}
 
a.to-bottom.glyphicon-arrow-down.hidden-sm.hidden-md.hidden-lg.button.mini-notification-button {
    margin-top:6px;
    height:40px;
    width:40px;
}
 
button.navbar-toggle.collapsed {
    margin-top:7px;
    height:40px;
    width:40px;
    padding-left:8px
}
 
button.navbar-toggle {
    margin-top:7px;
    height:40px;
    width:40px;
    padding-left:8px
}
 
a.button.mini-notification-button.collapsed.hidden-sm.hidden-md.hidden-lg > span.glyphicon.glyphicon-home {
   padding-left:1px !important;
   padding-top:2px !important;
}
 
a.button.mini-notification-button.collapsed.hidden-sm.hidden-md.hidden-lg > span.glyphicon.glyphicon-envelope {
    padding-left:2px;
    padding-top: 2px;
}
 
a.button.mini-notification-button.collapsed.hidden-sm.hidden-md.hidden-lg > span.badge.notification-counter {
    margin-left: -2px;
    margin-top: -3px;
}
 
a.dropdown-toggle.glyphicon.glyphicon-cog.hidden-sm.hidden-md.hidden-lg.button.mini-notification-button {
    padding-left:12px;
    padding-top:12px !important;
}
 
a.to-bottom.glyphicon.glyphicon-arrow-down.hidden-sm.hidden-md.hidden-lg.button.mini-notification-button {
    padding-left:11px;
}
 
a.button.collapsed.float-left.hidden-sm.hidden-md.hidden-lg > img.avatar-mini {
  box-shadow:none !important;
}

.truespoiler {
  color: black;
  background-color: black;
}

.truespoiler a {
  color: black;
  background-color: black;
}

.truespoiler img {
  opacity: 0.1;
}

span.truespoiler:hover {
  color: inherit;
  background-color: inherit;
}

.truespoiler a:hover {
  color: inherit;
  background-color: inherit;
}

.truespoiler img:hover {
  opacity: 1;
}

body {
    background: #B2C0E0;
}

.site-background {
    height: 100px;
    background: #B2C0E0;
}

.section-header {
    background-color: #5452A2;
    background: #5452A2;
    color: white;
}

.panel-heading {
    background: #5452A2;
}

.popover-title {
    background: #5452A2 !important;
}

.toggle-show-roles-button {
    background: #5452A2;
}

li#status.list-group-item.front-page-status {
    padding-bottom: 15px;
}

li.list-group-item.subcategory.category-subcategories > div > div.row {
   display:flex; 
}

li.list-group-item.subcategory.category-subcategories > div > div.row > div.col-sm-6.col-xs-8 {
   align-self: center;
}

li.list-group-item.subcategory.category-subcategories > div > div.row > .col-xs-4.col-sm-6 {
   align-self: center;
}

.role-legend {
  font-size: 85%;
}

.form-control {
 height:auto;   
}

li.list-group-item.subcategory.category-subcategories > div.row {
    display: flex;
}

li.list-group-item.subcategory.category-subcategories > div.row > .col-sm-6.col-xs-8 {
    align-self: center;
}
